# CHI 2018 Author and Reviewer Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

authors = pd.read_csv("../data/listOfAuthors-papers.csv", encoding='latin1', quotechar="\"", index_col='Paper-Author')

#Remove unnecessary fields
del authors['ins2']
del authors['middle_initial']

#Clean dataset
authors.email = authors.email.astype(str)
authors.email = authors.email.str.lower()

#Encode to UTF-8
authors.email = authors.email.str.strip()
authors.given_name = authors.given_name.str.strip()
authors.family_name = authors.family_name.str.strip()
authors.ins1 = authors.ins1.str.strip()

# authors.email = authors.email.str.decode('utf8').replace(' ', '')
# authors.given_name = authors.given_name.str.decode('utf8').replace(' ', '')
# authors.family_name = authors.family_name.str.decode('utf8').replace(' ', '')
# authors.ins1 = authors.ins1.str.decode('utf8').replace(' ', '')

authors

,decision,given_name,family_name,email,ins1
Paper-Author,,,,,
pn2678-1,QR,Keran,Zhao,kzhao23@uic.edu,"University of Illinois at Chicago, School of B..."
pn2678-2,QR,Yuheng,Hu,yuhenghu@uic.edu,"Department of Information and Decision System,..."
pn2515-1,R,Marcos,Serrano,marcos.serrano@irit.fr,"University of Toulouse & CNRS; IRIT, Toulouse,..."
pn2515-2,R,Florine,Simon,florine.simon@irit.fr,"University of Toulouse & CNRS; IRIT, Toulouse,..."
pn2515-3,R,Anne,Roudaut,anne.roudaut@bristol.ac.uk,"University of Bristol, Bristol, UK"
pn2515-4,R,Pourang,Irani,irani@cs.umanitoba.ca,"Department of Computer Science, University of ..."
pn3806-1,R,Daniel,Epstein,depstein@cs.washington.edu,"Computer Science & Engineering, University of ..."
pn3806-2,R,Koko,Nakajima,koko_nakajima@brown.edu,"Brown University, Providence, Rhode Island, Un..."
pn3806-3,R,Mira,Dontcheva,mirad@adobe.com,"Adobe Research, Seattle, Washington, United St..."
pn3806-4,R,James,Fogarty,jfogarty@cs.washington.edu,"Computer Science & Engineering, University of ..."
pn3806-5,R,Sean,Munson,smunson@uw.edu,"Human Centered Design & Engineering, Universit..."
pn4331-1,R,Zhenliang,Zhang,zzlbit@163.com,"School of Optoelectronics, Beijing Institute o..."
pn4331-2,R,Jie,Guo,guojie@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4331-3,R,Benyang,Cao,cby1997@vip.qq.com,"School of Optoelectronics, Beijing Institute o..."
pn4331-4,R,Dongdong,Weng,crgj@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4331-5,R,Yue,Liu,liuyue@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4664-1,A,Shota,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Japan"
pn4664-2,A,Wolfgang,Stuerzlinger,w.s@sfu.ca,School of Interactive Arts + Technology (SIAT)...
pn4664-3,A,Homei,Miyashita,homei@homei.com,"School of Science and Technology, Meiji Univer..."
pn3061-1,R,Shota,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Japan"
pn3061-2,R,Homei,Miyashita,homei@homei.com,"Meiji University, 4-21-1,Nakano,, Nakano-ku, T..."
pn3703-1,R,Shota,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Japan"
pn3703-2,R,Homei,Miyashita,homei@homei.com,"School of Science and Technology, Meiji Univer..."
pn2719-1,R,Shota,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Japan"
pn3210-1,R,Kleddao,Satcharoen,kleddao@gmail.com,"Faculty of Engineering, King Mongkutâs Insti..."
pn4544-1,W,Sana,Maqsood,sanamaqsood@cmail.carleton.ca,"School of Computer Science, Carleton Universit..."
pn4544-2,W,Christine,Mekhail,cmekhail@gmail.com,"School of Computer Science, Carleton Universit..."
pn4544-3,W,Sonia,Chiasson,chiasson@scs.carleton.ca,"School of Computer Science, Carleton Universit..."
pn1130-1,R,Mehdi,Ghafarianzadeh,mehdi.ghaf@gmail.com,"Information Technology Management, Islamic Aza..."
pn1130-2,R,Farzad,Movahedi Sobhani,fmovahedi@iau.ac.ir,"Information Technology Management, Islamic Aza..."
...,...,...,...,...,...
pn4471-2,R,Rakesh,Bobba,rakesh.bobba@oregonstate.edu,"Oregon State University, Corvallis, Oregon, Un..."
pn4471-3,R,Mike,Rosulek,rosulekm@oregonstate.edu,"Oregon State University, Corvallis, Oregon, Un..."
pn4471-4,R,Charles,Wright,cvw@pdx.edu,"Portland State University, Portland, Oregon, U..."
pn4471-5,R,Wuchi,Feng,wuchi@cs.pdx.edu,"Computer Science, Portland State University, P..."
pn2857-1,R,Lex,Fridman,fridman@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-2,R,Bruce,Mehler,bmehler@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-3,R,Lei,Xia,leixia@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-4,R,Yangyang,Yang,yyyang@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-5,R,Laura Yvonne,Facusse,facusse@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-6,R,Bryan,Reimer,reimer@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn1506-1,R,Andrej,KoÅ¡ir,andrej.kosir@lucami.fe.uni-lj.si,User-adapted communication and ambient intelli...
pn1506-2,R,Gregor,Strle,gregor.strle@fe.uni-lj.si,User-Adapted Communication and Ambinet Intelli...
pn1506-3,R,Marko,MeÅ¾a,marko.meza@lucami.fe.uni-lj.si,User-Adapted Communication and Ambinet Intelli...
pn1358-1,R,Xinru,Page,xpage@bentley.edu,"Computer Information Systems, Bentley Universi..."
pn1358-2,R,Reza,Anaraky,rghaium@clemson.edu,"Clemson University, Clemson, South Carolina, U..."
pn1358-3,R,Bart P.,Knijnenburg,bartk@clemson.edu,"School of Computing, Clemson University, Clems..."
pn3744-1,R,Cong,Chen,congchenutd@gmail.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn3744-2,R,Yuko,Okubo,yokubo@us.fujitsu.com,"Fujitsu Labs of America, Sunnyvale, California..."
pn3744-3,R,Jorjeta,Jetcheva,jjetcheva@us.fujitsu.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn3744-4,R,Ajay,Chander,ajay.chander@gmail.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn2798-1,QR,Varun,Prabhakar,varun.prabhakar07@gmail.com,"Tech Strategy Team\UX\UX Lab, Samsung R&D Inst..."
pn2798-2,QR,Anshumali,Baruah,anshu.baruah@gmail.com,"NXT, Samsung R&D Institute, Bangalore, Karnata..."
pn3689-1,R,Michael,McConville,mmcc@cs.utah.edu,"School of Computing, University of Utah, Salt ..."
pn3689-2,R,Batya,Friedman,batya@uw.edu,"The Information School, University of Washingt..."
pn3689-3,R,Tadayoshi,Kohno,yoshi@cs.washington.edu,"University of Washington, Seattle, Washington,..."
pn3689-4,R,Tamara,Denning,tdenning@cs.utah.edu,"School of Computing, University of Utah, Salt ..."
pn1531-1,R,Stella,Boess,s.u.boess@tudelft.nl,"Delft University of Technology, Delft, Netherl..."
pn4351-1,A,Oussama,Metatla,o.metatla@bristol.ac.uk,"Department of Computer Science, University of ..."
pn4351-2,A,Nick,Bryan-Kinns,n.bryan-kinns@qmul.ac.uk,"Centre for Digital Music, Queen Mary, Universi..."
pn4351-3,A,Tony,Stockman,tony.stockman@eecs.qmul.ac.uk,School of Electronic Engineering and Computer ...

In [2]:
reviewers = pd.read_csv("../data/listOfReviewers-papers.csv", encoding='latin1', header=0, index_col='ID')
reviewers = reviewers.loc[:,['role','review_submitted','review_assigned','family_name','given_name','middle_initial','email','dep1','ins1', 'country1']]

#Clean dataset
reviewers.email = reviewers.email.astype(str)
reviewers.ins1 = reviewers.ins1.astype(str)
reviewers.country1 = reviewers.country1.astype(str)
reviewers.email = reviewers.email.str.lower()

#Encode to UTF-8
reviewers.email = reviewers.email.str.encode('utf8')
reviewers.ins1 = reviewers.ins1.str.replace("\"", "")
reviewers.country1 = reviewers.country1.str.replace("\"", "")
reviewers.ins1 = reviewers.ins1.str.strip()
reviewers.country1 = reviewers.country1.str.strip()

reviewers.email = reviewers.email.str.decode('utf8').replace('b"b\'', '').replace('\'"', '')

reviewers

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
5619,reviewer,0,0,-,Vinayak,NaN,vinayak@tamu.edu,Department of Mechanical Engineering,Texas A&M University,United States
6524,reviewer,3,3,Edwards,Alistair,NaN,alistair@cs.york.ac.uk,NaN,University of York,United Kingdom
10150,reviewer,1,1,Nouwens,Midas,NaN,m.midas.m@gmail.com,ICT,Kungliga Tekniska HÃ¶gskolan,Sweden
5355,reviewer,3,3,Ge,Ni,NaN,dvsnigel@gmail.com,Human-Computer Interaction Institute,Carnegie Mellon University (CMU),USA
8005,reviewer,2,2,Rasmussen,Majken,NaN,mkirkegaard@cs.au.dk,NaN,,
10328,reviewer,1,1,Archambault,Leanna,NaN,leanna.archambault@asu.edu,Mary Lou Fulton Teachers College,Arizona State University,USA
7325,reviewer,0,0,A.B.M. Alim Al,Islam,NaN,razi_bd@yahoo.com,Department of Computer Science and Engineering,Bangladesh University of Engineering and Techn...,Bangladesh
7437,reviewer,1,1,Aal,Konstantin,NaN,konstantin.aal@uni-siegen.de,Institute for Information Systems,University of Siegen,Germany
9883,reviewer,0,0,Abdelnasser,Heba,NaN,heba.abdelnasser@alexu.edu.eg,"""""",,
7119,reviewer,3,3,Abdelrahman,Yomna,NaN,yomna.abdelrahman@vis.uni-stuttgart.de,VIS,University of Stuttgart,Germany
7482,reviewer,0,0,Abdollahi,Hojjat,NaN,hojjat.abdollahi@gmail.com,ECE,University of Denver,United States
9809,reviewer,1,1,Abdolrahmani,Ali,NaN,aliab1@umbc.edu,"University of Maryland, Baltimore County, Balt...",UMBC,United States
5906,reviewer,0,0,Abdul-Rahman,Alfie,NaN,alfie.abdulrahman@gmail.com,Oxford e-Research Centre,University of Oxford,United Kingdom
5377,reviewer,0,0,Abdulhamid,Najeeb,Gambo,najeebgambo.abdulhamid2@brunel.ac.uk,Computer Science,Brunel University London,United Kingdom
9117,reviewer,3,3,Abdullah,Saeed,NaN,sma249@cornell.edu,Information Science and Technology,Penn State,United States
9677,reviewer,1,1,Ablart,Damien,NaN,da292@sussex.ac.uk,"SCHI Lab, Creative Technology Group",University of Sussex,United Kingdom
8424,reviewer,1,1,Abokhodair,Norah,NaN,noraha@uw.edu,Information School,University of Washington,United States
6237,reviewer,0,0,ABOU AMSHA,Khuloud,NaN,khuloud.abou_amsha@utt.fr,Tech-cico,Institut Charles Delaunay,France
8736,reviewer,0,0,Abouzied,Azza,NaN,azza@nyu.edu,New York University - Abu Dhabi,Abu Dhabi,United Arab Emirates
8316,reviewer,0,0,Abouzied,Azza,NaN,azza@berkeley.edu,NaN,,
7589,reviewer,1,1,Abowd,Gregory,D,abowd@gatech.edu,"School of Interactive Computing, Georgia Insti...",,
8663,reviewer,0,0,Abraham,Joanna,NaN,abrahamj@uic.edu,Biomedical and Health Information Sciences,University of Illinois,USA
9950,reviewer,0,0,Abraham,Hillary,NaN,habraham@mit.edu,AgeLab,Massachusetts Institute of Technology,United States
9756,reviewer,0,0,Abtahi,Parastoo,NaN,parastoo@stanford.edu,Computer Science,Stanford University,United States
7538,reviewer,0,0,Abu-Salma,Ruba,NaN,ruba.abu-salma.13@ucl.ac.uk,Dept. of Computer Science,University College London (UCL),United Kingdom
5384,reviewer,0,0,Abujelala,Maher,NaN,maher.abujelala@mavs.uta.edu,Department of Computer Science and Engineering,University of Texas at Arlington,United States
9797,reviewer,0,0,Acar,Yasemin,NaN,acar@usecap.uni-hannover.de,NaN,,
10239,reviewer,0,0,Acar,Yasemin,NaN,acar@sec.uni-hannover.de,NaN,Leibniz University Hannover,Germany
9822,reviewer,1,1,Ackerman,Mark,S.,ackerm@umich.edu,NaN,University of Michigan,United States
8215,reviewer,0,0,Acquisti,Alessandro,NaN,acquisti@andrew.cmu.edu,NaN,Carnegie Mellon University,United States
...,...,...,...,...,...,...,...,...,...,...
10163,reviewer,1,1,Zhou,Rui,NaN,rzhou61@gatech.edu,School of Interactive Computing,Georgia Institute of Technology,United States
6131,reviewer,0,0,Zhou,Sharon,NaN,sharon.waxseal@gmail.com,Computer Science,Stanford University,United States
5088,committee,17,17,Zhu,Haiyi,NaN,haiyi@cs.umn.edu,GroupLens Research,University of Minnesota,United States
7196,reviewer,2,2,Zhu,Jichen,NaN,jichen.zhu@gmail.com,NaN,Drexel University,United States
8068,reviewer,1,1,Zhu,Bin,NaN,binz@kth.se,NaN,Royal Institute of Technology (KTH),Sweden
5919,reviewer,4,4,Zhu,Kening,NaN,kenju850915@gmail.com,"School of Creative Media, City University of H...",,
7103,reviewer,1,1,Zhu,Yeshuang,NaN,yeshuangzhu@gmail.com,Department of Computer Science and Technology,Tsinghua University,China
5582,reviewer,1,1,Zhu,Haining,NaN,hbz5037@psu.edu,College of Information Sciences and Technology,Pennsylvania State University,United States
7274,reviewer,0,0,Zhu,Suwen,NaN,suwzhu@cs.stonybrook.edu,Stony Brook University,Stony Brook University,United States
7390,reviewer,0,0,Zhuang,Yan,NaN,yanzhuan@buffalo.edu,CSE department,Univerisyt at Buffalo,USA
7497,reviewer,0,0,Zia,Leila,NaN,leila@wikimedia.org,NaN,Wikimedia Foundation,
9131,reviewer,0,0,Ziat,Mounia,NaN,mziat@nmu.edu,Psychology,Northern Michigan University,United States
9490,reviewer,1,1,Zielinski,David,NaN,djzielin@duke.edu,Pratt School of Engineering,Duke University,USA
6735,reviewer,0,0,Ziesemer,Angelina,NaN,angelina.ziesemer@acad.pucrs.br,PUCRS,FACIN,Brazil
6126,reviewer,0,0,Zietz,Jason,NaN,jason.zietz@colorado.edu,Computer Science,University of Colorado Boulder,United States
9934,committee,2,2,Zimmerman,John,NaN,johnz@cs.cmu.edu,NaN,Carnegie Mellon University,United States
8150,reviewer,0,0,Zimmermann,Gottfried,NaN,gzimmermann@acm.org,NaN,,
8102,reviewer,0,0,Zohar,Aviv,NaN,avivz@cs.huji.ac.il,NaN,,
5324,reviewer,2,2,Zollmann,Stefanie,NaN,stefanie.zollmann@otago.ac.nz,NaN,Graz University of Technology,Austria
6798,reviewer,0,0,Zolyomi,Annuska,NaN,annuska@uw.edu,Information School,University of Washington,United States
6981,reviewer,1,1,Zook,Alexander,E,azook3@gatech.edu,NaN,Georgia Institute of Technology,USA
7951,reviewer,2,2,Zoran,Amit,NaN,zoran@cs.huji.ac.il,NaN,The Hebrew University of Jerusalem,Israel
5659,reviewer,0,0,Zoss,Angela,NaN,amzoss@indiana.edu,NaN,Duke University,United States
6548,reviewer,0,0,Zou,Yongpan,NaN,yzouad@cse.ust.hk,Congputer Science and Engineering,Hong Kong University of Science and Technology,China
6244,reviewer,1,1,Zubiaga,Arkaitz,NaN,arkaitz@zubiaga.org,NaN,University of Warwick,United Kingdom
5114,committee,20,20,Zuckerman,Oren,NaN,orenz@idc.ac.il,Media Innovation Lab,The Interdisciplinary Center (IDC) Herzliya,Israel
9601,reviewer,1,1,Zuckerman,Ethan,NaN,ethanz@media.mit.edu,"Center for Civic Media, MIT",MIT Media Lab,United States
9946,reviewer,0,0,Zuk,Torre,NaN,tdzuk@ucalgary.ca,NaN,,
8218,reviewer,1,1,Zurko,Mary Ellen,NaN,mez@alum.mit.edu,NaN,,
6741,reviewer,2,2,Zytko,Doug,NaN,daz2@njit.edu,Information Systems/New Jersey Institute of Te...,New Jersey Institute of Technology,United States

# How many reviewers submitted less than assigned?

In [3]:
reviewers.query('review_submitted < review_assigned')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,Al-Balqa Applied University,Jordan
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,,
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,Facebook,California
8112,reviewer,2,3,Benford,Steve,NaN,steve.benford@nottingham.ac.uk,Blah,The University of Nottingham,United Kingdom
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,University of Gothenburg,Sweden
5025,committee,17,18,Bulling,Andreas,NaN,bulling@mpi-inf.mpg.de,Max Planck Institute for Informatics,Saarland Informatics Campus,Germany
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,,
5018,committee,16,17,Cauchard,Jessica,R,jcauchard@acm.org,NaN,Interdisciplinary Center (IDC) Herzliya,Israel
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,University of Toronto,Canada
7409,reviewer,1,2,Crandall,David,NaN,djcran@indiana.edu,"School of Informatics, Computing, and Engineering",Indiana University,United States
5658,committee,16,17,Dasgupta,Sayamindu,NaN,sdg1@uw.edu,NaN,University of Washington,United States
5103,committee,17,18,De Choudhury,Munmun,NaN,mchoudhu@cc.gatech.edu,School of Interactive Computing,Georgia Tech,United States
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,Microsoft Research,United States
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,Northumbria University,UK
6082,reviewer,1,2,Gordon,Mitchell,NaN,mgord@cs.stanford.edu,Computer Science,University of Rochester,United States
5011,committee,16,17,Gutwin,Carl,NaN,gutwin@cs.usask.ca,NaN,University of Saskatchewan,Canada
6136,reviewer,5,7,Hartmann,BjÃ¶rn,NaN,bjoern@eecs.berkeley.edu,NaN,University of California,California
5285,committee,18,19,Khan,Azam,NaN,azam.khan@autodesk.com,Autodesk Research,Autodesk,Canada
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,,
5053,committee,18,20,Kumar,Ranjitha,NaN,ranjitha@illinois.edu,Computer Science,University of Illinois at Urbana-Champaign,United States
5276,committee,16,17,Latulipe,Celine,NaN,clatulip@uncc.edu,NaN,University of North Carolina at Charlotte,United States
7302,committee,15,16,Lindgren,Robb,NaN,robblind@illinois.edu,"Digital Environments for Learning, Teaching, a...",University of Illinois,United States
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,,
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,,
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,,
7321,committee,15,16,Lopes,Pedro,NaN,pedro.lopes@hpi.uni-potsdam.de,NaN,Hasso Plattner Institute,Germany
5013,committee,16,17,Mackay,Wendy,NaN,mackay@lri.fr,NaN,Inria,France
5035,committee,14,16,Malacria,Sylvain,NaN,sylvain.malacria@inria.fr,NaN,Inria,France
5198,committee,16,17,Marcu,Gabriela,NaN,gmarcu@drexel.edu,College of Computing and Informatics,Drexel University,United States
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,Georgia Institute of Technolgy,United States
5083,committee,16,17,Oh,Alice,NaN,alice.oh@kaist.edu,NaN,KAIST,Republic of Korea
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design",Northeastern University,United States
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,Yahoo,United States
5041,committee,15,16,Reilly,Derek,NaN,reilly@cs.dal.ca,Faculty of Computer Science,Dalhousie University,Canada
5097,committee,18,19,Sarcevic,Aleksandra,NaN,aleksarc@drexel.edu,NaN,Drexel University,United States
6001,committee,17,18,SlovÃ¡k,Petr,NaN,p.slovak@ucl.ac.uk,UCLIC,University College London,United Kingdom
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,,
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,Auburn University,United States
5964,reviewer,5,6,Torres,Cesar,A,cearto@berkeley.edu,Electrical Engineering and Computer Science,University of California,California
5212,committee,14,15,Trewin,Shari,NaN,trewin@us.ibm.com,NaN,IBM T.J. Watson Research Center,United States
5496,committee,17,18,von Zezschwitz,Emanuel,NaN,zezschwitz@cs.uni-bonn.de,Usable Security Methods Group,University of Bonn,Germany
5265,committee,16,17,Walker,Erin,NaN,erin.a.walker@asu.edu,NaN,Arizona State University,United States
5645,committee,17,18,Wallner,Guenter,NaN,guenter.wallner@uni-ak.ac.at,"University of Applied Arts Vienna, Institute o...",,
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,Princeton University,United States
7322,reviewer,2,3,Zhang,Haimo,NaN,zh.hammer@gmail.com,Augmented Human Lab,Singapore University of Technology and Design,Singapore
5023,committee,16,17,Zhao,Shengdong,NaN,zhaosd@comp.nus.edu.sg,NUS-HCI Lab,National University of Singapore,Singapore

In [4]:
reviewers.query('review_submitted < review_assigned').count()

role                46
review_submitted    46
review_assigned     46
family_name         46
given_name          46
middle_initial       4
email               46
dep1                24
ins1                46
country1            46
dtype: int64

In [5]:
reviewers.query('review_submitted < review_assigned').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
role,,,,,,,,,
committee,24,24,24,24,1,24,12,24,24
reviewer,22,22,22,22,3,22,12,22,22

In [6]:
reviewers.query('review_submitted < review_assigned').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,country1
ins1,,,,,,,,,
,8,8,8,8,8,0,8,2,8
Al-Balqa Applied University,1,1,1,1,1,0,1,1,1
Arizona State University,1,1,1,1,1,0,1,0,1
Auburn University,1,1,1,1,1,0,1,1,1
Autodesk,1,1,1,1,1,0,1,1,1
Dalhousie University,1,1,1,1,1,0,1,1,1
Drexel University,2,2,2,2,2,0,2,1,2
Facebook,1,1,1,1,1,0,1,0,1
Georgia Institute of Technolgy,1,1,1,1,1,1,1,0,1
Georgia Tech,1,1,1,1,1,0,1,1,1
Hasso Plattner Institute,1,1,1,1,1,0,1,0,1
IBM T.J. Watson Research Center,1,1,1,1,1,0,1,0,1
Indiana University,1,1,1,1,1,0,1,1,1
Inria,2,2,2,2,2,0,2,0,2
Interdisciplinary Center (IDC) Herzliya,1,1,1,1,1,1,1,0,1
KAIST,1,1,1,1,1,0,1,0,1
Microsoft Research,1,1,1,1,1,0,1,0,1
National University of Singapore,1,1,1,1,1,0,1,1,1
Northeastern University,1,1,1,1,1,0,1,1,1
Northumbria University,1,1,1,1,1,0,1,1,1
Princeton University,1,1,1,1,1,1,1,1,1
Saarland Informatics Campus,1,1,1,1,1,0,1,1,1
Singapore University of Technology and Design,1,1,1,1,1,0,1,1,1
The University of Nottingham,1,1,1,1,1,0,1,1,1
University College London,1,1,1,1,1,0,1,1,1
University of Bonn,1,1,1,1,1,0,1,1,1
University of California,2,2,2,2,2,1,2,1,2
University of Gothenburg,1,1,1,1,1,0,1,1,1
University of Illinois,1,1,1,1,1,0,1,1,1
University of Illinois at Urbana-Champaign,1,1,1,1,1,0,1,1,1
University of North Carolina at Charlotte,1,1,1,1,1,0,1,0,1
University of Rochester,1,1,1,1,1,0,1,1,1
University of Saskatchewan,1,1,1,1,1,0,1,0,1
University of Toronto,1,1,1,1,1,0,1,1,1
University of Washington,1,1,1,1,1,0,1,0,1
Yahoo,1,1,1,1,1,0,1,0,1

# How many reviewers did not submit at all?

In [7]:
reviewers.query('review_submitted == 0 & review_assigned > 0')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,Al-Balqa Applied University,Jordan
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,,
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,Facebook,California
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,University of Gothenburg,Sweden
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,,
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,University of Toronto,Canada
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,Microsoft Research,United States
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,Northumbria University,UK
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,,
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,,
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,,
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,,
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,Georgia Institute of Technolgy,United States
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design",Northeastern University,United States
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,Yahoo,United States
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,,
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,Auburn University,United States
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,Princeton University,United States

In [8]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
role,,,,,,,,,
committee,2,2,2,2,0,2,1,2,2
reviewer,16,16,16,16,2,16,7,16,16

In [9]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,country1
ins1,,,,,,,,,
,7,7,7,7,7,0,7,1,7
Al-Balqa Applied University,1,1,1,1,1,0,1,1,1
Auburn University,1,1,1,1,1,0,1,1,1
Facebook,1,1,1,1,1,0,1,0,1
Georgia Institute of Technolgy,1,1,1,1,1,1,1,0,1
Microsoft Research,1,1,1,1,1,0,1,0,1
Northeastern University,1,1,1,1,1,0,1,1,1
Northumbria University,1,1,1,1,1,0,1,1,1
Princeton University,1,1,1,1,1,1,1,1,1
University of Gothenburg,1,1,1,1,1,0,1,1,1
University of Toronto,1,1,1,1,1,0,1,1,1
Yahoo,1,1,1,1,1,0,1,0,1

In [10]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('ins1')['role'].count()

ins1
                                  7
Al-Balqa Applied University       1
Auburn University                 1
Facebook                          1
Georgia Institute of Technolgy    1
Microsoft Research                1
Northeastern University           1
Northumbria University            1
Princeton University              1
University of Gothenburg          1
University of Toronto             1
Yahoo                             1
Name: role, dtype: int64

In [11]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "reviewer"')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,Al-Balqa Applied University,Jordan
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,,
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,Facebook,California
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,University of Gothenburg,Sweden
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,,
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,University of Toronto,Canada
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,Northumbria University,UK
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,,
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,,
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,,
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,,
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,Georgia Institute of Technolgy,United States
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design",Northeastern University,United States
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,Yahoo,United States
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,Auburn University,United States
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,Princeton University,United States

In [12]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "committee"')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,Microsoft Research,United States
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,,

In [13]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "reviewer"').groupby('review_assigned')['role'].count()

review_assigned
1    15
2     1
Name: role, dtype: int64

In [14]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "committee"').groupby('review_assigned')['role'].count()

review_assigned
1     1
15    1
Name: role, dtype: int64

In [15]:
reviewers.query('review_assigned == 0')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
5619,reviewer,0,0,-,Vinayak,NaN,vinayak@tamu.edu,Department of Mechanical Engineering,Texas A&M University,United States
7325,reviewer,0,0,A.B.M. Alim Al,Islam,NaN,razi_bd@yahoo.com,Department of Computer Science and Engineering,Bangladesh University of Engineering and Techn...,Bangladesh
9883,reviewer,0,0,Abdelnasser,Heba,NaN,heba.abdelnasser@alexu.edu.eg,"""""",,
7482,reviewer,0,0,Abdollahi,Hojjat,NaN,hojjat.abdollahi@gmail.com,ECE,University of Denver,United States
5906,reviewer,0,0,Abdul-Rahman,Alfie,NaN,alfie.abdulrahman@gmail.com,Oxford e-Research Centre,University of Oxford,United Kingdom
5377,reviewer,0,0,Abdulhamid,Najeeb,Gambo,najeebgambo.abdulhamid2@brunel.ac.uk,Computer Science,Brunel University London,United Kingdom
6237,reviewer,0,0,ABOU AMSHA,Khuloud,NaN,khuloud.abou_amsha@utt.fr,Tech-cico,Institut Charles Delaunay,France
8736,reviewer,0,0,Abouzied,Azza,NaN,azza@nyu.edu,New York University - Abu Dhabi,Abu Dhabi,United Arab Emirates
8316,reviewer,0,0,Abouzied,Azza,NaN,azza@berkeley.edu,NaN,,
8663,reviewer,0,0,Abraham,Joanna,NaN,abrahamj@uic.edu,Biomedical and Health Information Sciences,University of Illinois,USA
9950,reviewer,0,0,Abraham,Hillary,NaN,habraham@mit.edu,AgeLab,Massachusetts Institute of Technology,United States
9756,reviewer,0,0,Abtahi,Parastoo,NaN,parastoo@stanford.edu,Computer Science,Stanford University,United States
7538,reviewer,0,0,Abu-Salma,Ruba,NaN,ruba.abu-salma.13@ucl.ac.uk,Dept. of Computer Science,University College London (UCL),United Kingdom
5384,reviewer,0,0,Abujelala,Maher,NaN,maher.abujelala@mavs.uta.edu,Department of Computer Science and Engineering,University of Texas at Arlington,United States
9797,reviewer,0,0,Acar,Yasemin,NaN,acar@usecap.uni-hannover.de,NaN,,
10239,reviewer,0,0,Acar,Yasemin,NaN,acar@sec.uni-hannover.de,NaN,Leibniz University Hannover,Germany
8215,reviewer,0,0,Acquisti,Alessandro,NaN,acquisti@andrew.cmu.edu,NaN,Carnegie Mellon University,United States
6643,reviewer,0,0,Adamczyk,Piotr,D,pdadamczyk@gmail.com,NaN,,
8900,reviewer,0,0,Adams,Phil,NaN,philadams.net@gmail.com,NaN,Google,California
9300,reviewer,0,0,Adams,Marc,A,marc.adams@asu.edu,School of Nutrition and Health Promotion,Arizona State University,USA
7606,reviewer,0,0,Adjerid,Idris,NaN,iadjerid@nd.edu,Mendoza College of Business,University of Notre Dame,United States
8260,reviewer,0,0,Adnan,Muhammad,NaN,m.adnan1@hotmail.com,School of Computing,University of Leeds,UK
8543,reviewer,0,0,Afonso,Ana,Paula,apafonso@fc.ul.pt,NaN,Faculdade de CiÃªncias,
5810,reviewer,0,0,Agarwal,Mohit,NaN,me.agmohit@gmail.com,Electrical and Computer Engineering,Georgia Institute of Technology,United States
5532,reviewer,0,0,Agrawal,Mehul,NaN,agrawal.mehul92@gmail.com,Department of Design,Indian Institute of Technology,India
7983,reviewer,0,0,Agrawala,Maneesh,NaN,maneesh@cs.berkeley.edu,NaN,University of California,California
7775,reviewer,0,0,Agu,Emmanuel,NaN,emmanuel@cs.wpi.edu,Computer Science Department,Worcester Polytechnic Institute,USA
6437,reviewer,0,0,Aguilar,Lourdes,NaN,lourdes.aguilar@uab.cat,Departamento de FilologÃ­a EspaÃ±ola,Universitat AutÃ²noma de Barcelona,Spain
6248,reviewer,0,0,Ahlbrand,Benjamin,Michael,bmahlbrand@gmail.com,Computer Science,Purdue University,United States
5973,reviewer,0,0,Ahlers,Dirk,NaN,ahlers@dhere.de,NaN,Unitec - Universidad TecnolÃ³gica Centroamericana,Honduras
...,...,...,...,...,...,...,...,...,...,...
6984,reviewer,0,0,Zhang,Ben,NaN,benzh@eecs.berkeley.edu,EECS,UC Berkeley,United States
6283,reviewer,0,0,Zhang,Jingyu,NaN,zhangjingyu@psych.ac.cn,Human factor lab,Institute of Psychology,
6732,reviewer,0,0,Zhang,Xinyi,NaN,xyzhang@cs.ucsb.edu,"Computer Science, SAND Lab",University of California,California
6012,reviewer,0,0,Zhang,Yunbo,NaN,will.yunbo.zhang@gmail.com,School of Mechanical Engineering,Purdue University,United States
7632,reviewer,0,0,Zhang,Mi,Zhang,mizhang@egr.msu.edu,Department of Electrical and Computer Engineering,Michigan State University,United States
6587,reviewer,0,0,ZHANG,LEKAI,NaN,zlkzhang@zju.edu.cn,COMPUTER SCIENCE AND TECHNOLOGY,ZHEJIANG UNIVERSITY,CHINA
7395,reviewer,0,0,Zhao,Ben,Y,ravenben@cs.uchicago.edu,Computer Science,University of Chicago,USA
6675,reviewer,0,0,Zhao,Siyan,NaN,siyanz@andrew.cmu.edu,Human-Computer Interaction Institute,Carnegie Mellon University,United States
5624,reviewer,0,0,zhao,Keran,zhao,kzhao23@uic.edu,University of Illinois at Chicago,School of Business Administration,United States
6997,reviewer,0,0,Zhao,Nan,NaN,nanzhao@mit.edu,NaN,Massachusetts Institute of Technology,United States
5787,reviewer,0,0,Zheng,Clement,NaN,clement.zheng@gmail.com,ATLAS Institute,University of Colorado,Colorado
5320,reviewer,0,0,Zheng,Jingjie,NaN,j49zheng@uwaterloo.ca,Cheriton School of Computer Science,University of Waterloo,Canada
6562,reviewer,0,0,Zheng,Wei-Long,NaN,weilonglive@gmail.com,Department of Computer Science and Engineering,Shanghai Jiao Tong University,China
6804,reviewer,0,0,Zhi,Qiyu,Zhi,qzhi@nd.edu,Computer Science and Engineering,University of Notre Dame,United States
9582,reviewer,0,0,Zhou,Xiaolei,NaN,zhouxiaolei@cueb.edu.cn,NaN,,
5566,reviewer,0,0,Zhou,Yuliang,Zhou,yuliangzhou7@gmail.com,Department of Electrical and Computer Engineering,University of Auckland,New Zealand
6109,reviewer,0,0,Zhou,Zimu,NaN,zhouzimu.hk@gmail.com,Computer Engineering and Networks Laboratory,ETH Zurich,Switzerland
6131,reviewer,0,0,Zhou,Sharon,NaN,sharon.waxseal@gmail.com,Computer Science,Stanford University,United States
7274,reviewer,0,0,Zhu,Suwen,NaN,suwzhu@cs.stonybrook.edu,Stony Brook University,Stony Brook University,United States
7390,reviewer,0,0,Zhuang,Yan,NaN,yanzhuan@buffalo.edu,CSE department,Univerisyt at Buffalo,USA
7497,reviewer,0,0,Zia,Leila,NaN,leila@wikimedia.org,NaN,Wikimedia Foundation,
9131,reviewer,0,0,Ziat,Mounia,NaN,mziat@nmu.edu,Psychology,Northern Michigan University,United States
6735,reviewer,0,0,Ziesemer,Angelina,NaN,angelina.ziesemer@acad.pucrs.br,PUCRS,FACIN,Brazil
6126,reviewer,0,0,Zietz,Jason,NaN,jason.zietz@colorado.edu,Computer Science,University of Colorado Boulder,United States
8150,reviewer,0,0,Zimmermann,Gottfried,NaN,gzimmermann@acm.org,NaN,,
8102,reviewer,0,0,Zohar,Aviv,NaN,avivz@cs.huji.ac.il,NaN,,
6798,reviewer,0,0,Zolyomi,Annuska,NaN,annuska@uw.edu,Information School,University of Washington,United States
5659,reviewer,0,0,Zoss,Angela,NaN,amzoss@indiana.edu,NaN,Duke University,United States
6548,reviewer,0,0,Zou,Yongpan,NaN,yzouad@cse.ust.hk,Congputer Science and Engineering,Hong Kong University of Science and Technology,China
9946,reviewer,0,0,Zuk,Torre,NaN,tdzuk@ucalgary.ca,NaN,,

In [16]:
reviewers.query('review_assigned == 0').groupby('country1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
country1,,,,,,,,,
,368,368,368,368,368,52,368,73,368
", United Kingdom",1,1,1,1,1,1,1,1,1
02139,1,1,1,1,1,0,1,0,1
94301,1,1,1,1,1,0,1,1,1
Australia,36,36,36,36,36,11,36,29,36
Austria,25,25,25,25,25,0,25,16,25
Bangladesh,2,2,2,2,2,0,2,2,2
Beijing,1,1,1,1,1,0,1,1,1
Belgium,12,12,12,12,12,2,12,10,12
Brazil,12,12,12,12,12,4,12,8,12
Bulgaria,1,1,1,1,1,1,1,0,1
CA,15,15,15,15,15,5,15,10,15
CHENNAI,1,1,1,1,1,1,1,1,1
CHINA,1,1,1,1,1,0,1,1,1
CO,1,1,1,1,1,0,1,1,1
California,37,37,37,37,37,8,37,17,37
Canada,96,96,96,96,96,17,96,73,96
Canda,1,1,1,1,1,1,1,1,1
Chile,1,1,1,1,1,1,1,1,1
China,40,40,40,40,40,0,40,36,40
Colorado,2,2,2,2,2,0,2,2,2
Cyprus,2,2,2,2,2,0,2,1,2
Czech Republic,3,3,3,3,3,0,3,2,3
Danmark,1,1,1,1,1,0,1,1,1
Denmark,34,34,34,34,34,7,34,24,34
Deutschland,1,1,1,1,1,0,1,0,1
Egypt,2,2,2,2,2,1,2,2,2
England,5,5,5,5,5,1,5,4,5
Estonia,1,1,1,1,1,0,1,0,1
FRANCE,3,3,3,3,3,0,3,3,3
...,...,...,...,...,...,...,...,...,...
Saudi Arabia,1,1,1,1,1,0,1,1,1
Scotland,1,1,1,1,1,0,1,1,1
Singapore,20,20,20,20,20,1,20,19,20
South Africa,1,1,1,1,1,1,1,1,1
South Korea,14,14,14,14,14,3,14,13,14
Spain,18,18,18,18,18,3,18,13,18
Stockholm,2,2,2,2,2,0,2,1,2
Sweden,44,44,44,44,44,5,44,30,44
Switzerland,29,29,29,29,29,4,29,18,29
TN,1,1,1,1,1,0,1,0,1
Taiwan,10,10,10,10,10,0,10,9,10
Thailand,4,4,4,4,4,0,4,2,4
The Netherlands,18,18,18,18,18,5,18,12,18
Tokyo,2,2,2,2,2,1,2,2,2
Trinidad and Tobago,1,1,1,1,1,0,1,1,1
Turkey,6,6,6,6,6,0,6,6,6
U.S.A.,3,3,3,3,3,1,3,3,3
UK,18,18,18,18,18,2,18,15,18
US,13,13,13,13,13,1,13,13,13
USA,130,130,130,130,130,28,130,105,130
United Arab Emirates,1,1,1,1,1,0,1,1,1
United Kingdom,178,178,178,178,178,48,178,139,178
United States,558,558,558,558,558,122,558,400,558
United States of America,8,8,8,8,8,1,8,5,8
UniversitÃ© Paris-Saclay,4,4,4,4,4,0,4,3,4
Wales; UK,1,1,1,1,1,0,1,1,1
Wisconsin,1,1,1,1,1,0,1,0,1
Zhejiang,1,1,1,1,1,0,1,1,1
the Netherlands,1,1,1,1,1,0,1,1,1
usa,1,1,1,1,1,0,1,1,1

In [17]:
reviewers.query('review_assigned == 0').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
role,,,,,,,,,
committee,28,28,28,28,4,28,16,28,28
reviewer,2267,2267,2267,2267,386,2267,1492,2267,2267

In [18]:
reviewers.query('review_assigned == 0').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,country1
ins1,,,,,,,,,
,336,336,336,336,336,46,336,60,336
-,1,1,1,1,1,0,1,1,1
-University of Nottingham,1,1,1,1,1,0,1,1,1
1x1 Design,1,1,1,1,1,0,1,0,1
2-2-2 Hikaridai Keihanna Science City,1,1,1,1,1,0,1,1,1
AIT - Austrian Institute of Technology GmbH,1,1,1,1,1,0,1,0,1
AT&T Labs Research,1,1,1,1,1,0,1,0,1
Aalborg Uniiversity Copenhagen,1,1,1,1,1,0,1,1,1
Aalborg University,7,7,7,7,7,1,7,5,7
Aalborg University Copenhagen,1,1,1,1,1,1,1,1,1
Aalto University,6,6,6,6,6,1,6,5,6
Aalto University School of Science,1,1,1,1,1,0,1,0,1
Aarhus University,5,5,5,5,5,0,5,5,5
Abilene Christian University,1,1,1,1,1,0,1,1,1
Abu Dhabi,1,1,1,1,1,0,1,1,1
Addimation,1,1,1,1,1,0,1,0,1
Adobe,1,1,1,1,1,0,1,1,1
Advanced Telecommunications Research Institute International (ATR),1,1,1,1,1,0,1,1,1
Aegean University,1,1,1,1,1,0,1,1,1
Albert-Ludwigs-University,1,1,1,1,1,1,1,1,1
Allegheny College,1,1,1,1,1,1,1,1,1
Alpen-Adria-UniversitÃ¤t Klagenfurt,1,1,1,1,1,0,1,1,1
Alphabet,1,1,1,1,1,0,1,1,1
Amsterdam University of Applied Sciences,2,2,2,2,2,0,2,2,2
Anglo-American University of Prague,1,1,1,1,1,0,1,0,1
Apple,2,2,2,2,2,0,2,1,2
Arizona State University,4,4,4,4,4,2,4,4,4
Artanim Foundation,1,1,1,1,1,0,1,0,1
Aston University,1,1,1,1,1,0,1,1,1
BBC,2,2,2,2,2,0,2,2,2
...,...,...,...,...,...,...,...,...,...
Vienna Univeristy of Technology,1,1,1,1,1,0,1,0,1
Vienna University of Technology,4,4,4,4,4,0,4,2,4
Virginia Polytechnic Institute and State University,1,1,1,1,1,0,1,0,1
Virginia Tech,7,7,7,7,7,2,7,5,7
Visual Perspectives Consulting,1,1,1,1,1,0,1,0,1
Warwick University,1,1,1,1,1,1,1,1,1
Waseda University,1,1,1,1,1,0,1,0,1
Watson Health,1,1,1,1,1,0,1,1,1
Wellesley College,3,3,3,3,3,0,3,3,3
Wentworth Institute of Technology,1,1,1,1,1,0,1,1,1
Western Washington University,1,1,1,1,1,0,1,1,1
Wikimedia Foundation,1,1,1,1,1,0,1,0,1
Williams College,1,1,1,1,1,1,1,1,1
Worcester Polytechnic Institute,1,1,1,1,1,0,1,1,1
Wuhan University,1,1,1,1,1,0,1,1,1
Yahoo,4,4,4,4,4,0,4,0,4
Yahoo Labs,3,3,3,3,3,1,3,0,3
Yonsei university,1,1,1,1,1,0,1,1,1
York University,3,3,3,3,3,1,3,2,3
ZHEJIANG UNIVERSITY,1,1,1,1,1,0,1,1,1
Zhejiang University of Technology,1,1,1,1,1,0,1,0,1
carnegie mellon university,1,1,1,1,1,0,1,1,1
e-Media Lab,1,1,1,1,1,0,1,0,1
foundry10,1,1,1,1,1,1,1,1,1
intel,1,1,1,1,1,0,1,0,1
mobile.de GmbH / eBay Inc.,1,1,1,1,1,0,1,0,1
oDesk Research & Harvard University,1,1,1,1,1,1,1,0,1
the Hong Kong University of Science and Technology,1,1,1,1,1,0,1,1,1
the University of Washington,1,1,1,1,1,0,1,1,1
the open university,1,1,1,1,1,0,1,1,1

# How did the authors review?

Out of all the authors who submitted, how many were assigned reviews? How many submitted reviews? Are we utilizing all the authors for the review process?

First, let's get the authors that were assigned papers to review.

In [19]:
#Clean data
unique_authors = pd.DataFrame({'email': authors.groupby('email').decision.count().keys(), 'submissions': authors.groupby('email').decision.count().values})
unique_authors.email = unique_authors.email.astype(str)
unique_authors.email = unique_authors.email.str.strip()
unique_authors

                                    email  submissions
0                      0816211@zju.edu.cn            2
1                       1149447426@qq.com            1
2                       1173901622@qq.com            1
3                  1220kazu1412@gmail.com            5
4                    14030031@lums.edu.pk            1
5                 14bce098@nirmauni.ac.in            1
6                    15030043@lums.edu.pk            1
7                    15030044@lums.edu.pk            1
8                  16022839@brookes.ac.uk            1
9                    16030041@lums.edu.pk            1
10                      1608352583@qq.com            1
11                 16102434@brookes.ac.uk            1
12                   17030062@lums.edu.pk            1
13                      1819018936@qq.com            1
14                    18202511593@163.com            1
15                    18366115280@163.com            1
16                   1heisuzuki@gmail.com            2
17         2014020911033@std.uestc.edu.cn            1
18                    21121054@zju.edu.cn            1
19             2196440o@student.gla.ac.uk            1
20                        2bc1@queensu.ca            1
21                  3140103989@zju.edu.cn            1
22          31520140154367@stu.xmu.edu.cn            1
23                       347014463@qq.com            1
24     3schuldt@informatik.uni-hamburg.de            1
25                       452820701@qq.com            1
26                       510440762@qq.com            1
27            52174506007@stu.ecnu.edu.cn            1
28                       595767451@qq.com            1
29                       616976143@qq.com            1
...                                   ...          ...
7115                       zl7904@rit.edu            1
7116                  zlkzhang@zju.edu.cn            1
7117               zmcai@mail.xjtu.edu.cn            1
7118          zmcfadde@scmail.spelman.edu            1
7119                     zmiranda@mit.edu            1
7120             zoe.fisher4@wales.nhs.uk            1
7121                 zohnbell@hotmail.com            1
7122                  zoran@cs.huji.ac.il            5
7123              zoran@cs.washington.edu            3
7124               zpengab@connect.ust.hk            1
7125  zsarsenbayev@student.unimelb.edu.au            2
7126                      zshen@smith.edu            1
7127              zsweiweiwnx@hotmail.com            1
7128                       zsyzgu@163.com            2
7129                         zt@es.aau.dk            1
7130                     ztduford@mtu.edu            1
7131                      ztoups@nmsu.edu            4
7132                  zubaer.kh@gmail.com            1
7133              zubair-shafiq@uiowa.edu            1
7134                    zueger@ifi.uzh.ch            1
7135                   zuhori@ualberta.ca            1
7136                 zwual@connect.ust.hk            3
7137                  zxiao5@illinois.edu            1
7138                     zyao2@cs.cmu.edu            1
7139                         zyda@usc.edu            1
7140                zyic@mail.ustc.edu.cn            1
7141                    zytang@nwu.edu.cn            3
7142               zzhaoao@connect.ust.hk            2
7143                       zzlbit@163.com            1
7144                 zzzliujuan@gmail.com            1

[7145 rows x 2 columns]

In [20]:
# unique_authors = pd.DataFrame(authors.email.unique(), columns=['email'])

# Authors who were assigned papers to review
# author_reviewers = pd.merge(unique_authors, reviewers, left_on='email', right_on='email', how='outer').query('review_assigned > 0').sort_values(by=['email'])

# unique_authors.at[7142, 'email'].replace(' ', '') == reviewers.at[5765, 'email']

# author_reviewers_raw = reviewers[reviewers.email.isin(reviewers.email == '0816211@zju.edu.cn')]
# reviewers[reviewers['email'] == 'zzhaoao@connect.ust.hk']
# unique_authors[unique_authors['email'] == 'zzhaoao@connect.ust.hk']

In [21]:
#All authors who appeared in the Reviewer database.
author_reviewers_raw = pd.merge(unique_authors, reviewers, left_on='email', right_on='email', how='inner')
author_reviewers_raw

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
0,16022839@brookes.ac.uk,1,reviewer,0,0,Vovk,Alla,NaN,Performance Augmentation Lab,Oxford Brookes University,United Kingdom
1,a.a.a.alarfaj2@ncl.ac.uk,1,reviewer,0,0,Alarfaj,Aisha,Ahmed,School of Computing,Newcastle University,United Kingdom
2,a.alomainy@qmul.ac.uk,1,reviewer,0,0,Alomainy,Akram,NaN,School of Electronic Engineering and Computer ...,Queen Mary,
3,a.ambe@qut.edu.au,2,reviewer,0,0,Ambe,Aloha,Hufana,NaN,Queensland University of Technology,Australia
4,a.ayobi@cs.ucl.ac.uk,1,reviewer,4,4,Ayobi,Amid,NaN,UCL Interaction Centre,University College London,United Kingdom
5,a.blandford@ucl.ac.uk,3,reviewer,1,1,Blandford,Ann,E,NaN,University College London,United Kingdom
6,a.boucher@gold.ac.uk,1,reviewer,1,1,Boucher,Andy,NaN,"Interaction Research Studio, Goldsmiths, Unive...",,
7,a.bowyer2@newcastle.ac.uk,1,reviewer,0,0,Bowyer,Alex,NaN,Open Lab,Newcastle University,United Kingdom
8,a.everitt@lancaster.ac.uk,3,reviewer,3,3,Everitt,Aluna,NaN,School of Computing and Communications,Lancaster Universty,United Kingdom
9,a.joinson@bath.ac.uk,1,reviewer,0,0,Joinson,Adam,NaN,NaN,University of Bath,United Kingdom
10,a.malizia@herts.ac.uk,1,reviewer,1,1,Malizia,Alessio,NaN,School of creative arts,University of Hertfordshire,United Kingdom
11,a.parker@neu.edu,3,reviewer,4,4,Parker,Andrea,NaN,College of Computer & Information Science,Northeastern University,United States
12,a.preston@kingston.ac.uk,1,reviewer,0,0,Preston,Anne,NaN,Learning and Teaching Enhancement Centre,Kingston University,United Kingdom
13,a.puussaar2@ncl.ac.uk,1,reviewer,1,1,Puussaar,Aare,NaN,Open Lab,Newcastle University,United Kingdom
14,a.r.dow@ncl.ac.uk,2,reviewer,1,1,Dow,Andy,NaN,Open Lab,Newcastle University,United Kingdom
15,a.reinschluessel@gmail.com,2,reviewer,0,0,Reinschluessel,Anke,Verena,Human Computer Interaction Lab,University of Saskatchewan,Canada
16,a.sasse@cs.ucl.ac.uk,3,reviewer,0,0,Sasse,Martina Angela,NaN,NaN,University College London,United Kingdom
17,a.schlesinger@gatech.edu,1,reviewer,2,2,Schlesinger,Ari,NaN,School of Interactive Computing,Georgia Institute of Technology,United States
18,a.steed@ucl.ac.uk,1,reviewer,3,3,Steed,Anthony,NaN,NaN,University College London,United Kingdom
19,a.strohmayer@newcastle.ac.uk,3,reviewer,0,0,Strohmayer,Angelika,NaN,Open Lab,Newcastle University,United Kingdom
20,a.taylor@gsa.ac.uk,2,reviewer,0,0,Taylor,Andrea,F,NaN,Glasgow School of Art,United Kingdom
21,a.vasalou@ucl.ac.uk,2,reviewer,1,1,Vasalou,Asimina,NaN,Institute of Education - UCL Knowledge Lab,University College London,United Kingdom
22,aakar@cs.toronto.edu,1,committee,16,16,Gupta,Aakar,NaN,NaN,University of Toronto,Canada
23,aantle@sfu.ca,2,reviewer,2,2,Antle,Alissa,NaN,NaN,Simon Fraser University,Canada
24,aaron.jiang@colorado.edu,2,reviewer,2,2,Jiang,"Jialun ""Aaron""",NaN,Department of Information Science,University of Colorado Boulder,United States
25,aaronshaw@northwestern.edu,1,reviewer,0,0,Shaw,Aaron,NaN,Department of Communication Studies,Northwestern University,United States
26,abaglion@iu.edu,1,reviewer,0,0,Baglione,Anna,NaN,Informatics Department,Indiana University,United States of America
27,abdallah.elali@gmail.com,2,reviewer,3,3,El Ali,Abdallah,NaN,"University of Oldenburg, Oldenburg, Germany",,
28,abellucc@inf.uc3m.es,1,reviewer,3,3,Bellucci,Andrea,NaN,NaN,Universidad Carlos III de Madrid,Spain
29,abiaco@essex.ac.uk,1,reviewer,0,0,Iacob,Andrei,B,Computer Science and Electronic Engineering,University of Essex,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...
2012,ywangch@cse.ust.hk,1,reviewer,1,1,Wang,Yun,NaN,Department of Computer Science and Technology,The Hong Kong University of Science and Techno...,Hong Kong
2013,ywpark@unist.ac.kr,3,reviewer,2,2,Park,Young-Woo,NaN,"Interactive Product Design Lab, Industrial Design",School of Design and Human Engineering,
2014,yyao08@syr.edu,2,reviewer,4,4,Yao,Yaxing,NaN,NaN,School of Information Studies,New York
2015,yychan@ie.cuhk.edu.hk,1,reviewer,0,0,Chan,Rosanna,Yuen-Yan,Department of Information Engineering,The Chinese University of Hong Kong,Hong Kong
2016,yyk15@mails.tsinghua.edu.cn,3,reviewer,0,0,Yan,Yukang,NaN,"Tsinghua University, Department of CST",Institute of HCI and Media Integration,China
2017,yz769@cornell.edu,2,reviewer,2,2,Zhao,Yuhang,NaN,Jacobs Technion-Cornell Institute,Cornell Tech,United States
2018,z.yumak@uu.nl,2,reviewer,0,0,Yumak,Zerrin,NaN,Department of Information and Computing Sciences,Utrecht University,The Netherlands
2019,zachry@u.washington.edu,2,reviewer,1,1,Zachry,Mark,NaN,NaN,University of Washington,United States
2020,zannderson@gmail.com,3,reviewer,0,0,Anderson,Zann,NaN,Computer Science/College of Physical and Mathe...,Brigham Young University,United States
2021,zcui@umd.edu,2,reviewer,0,0,Cui,Zhe,NaN,Department of Electrical and Computer Engineering,University of Maryland,United States
2022,zdeng4@uh.edu,1,reviewer,0,0,Deng,Zhigang,Deng,Computer Science,University of Houston,United States
2023,zeiner@hdm-stuttgart.de,1,reviewer,1,1,Zeiner,Katharina,NaN,NaN,Stuttgart Media University,Germany
2024,zenaha@hotmail.com,1,reviewer,0,0,Alkubaisy,Zenah,NaN,NaN,The University of Nottingham,United Kingdom
2025,zezschwitz@cs.uni-bonn.de,3,committee,17,18,von Zezschwitz,Emanuel,NaN,Usable Security Methods Group,University of Bonn,Germany
2026,zhai@acm.org,5,reviewer,1,1,Zhai,Shumin,NaN,NaN,Research @ Google,United States
2027,zhangjingyu@psych.ac.cn,1,reviewer,0,0,Zhang,Jingyu,NaN,Human factor lab,Institute of Psychology,
2028,zhao@fxpal.com,3,reviewer,3,3,Zhao,Jian,NaN,NaN,FX Palo Alto Laboratory,United States
2029,zhaosd@comp.nus.edu.sg,9,committee,16,17,Zhao,Shengdong,NaN,NUS-HCI Lab,National University of Singapore,Singapore
2030,zheliu1992@gmail.com,1,reviewer,0,0,Liu,Zhe,NaN,Industrial Engineering,Tsinghua University,China
2031,zhi.tan@ri.cmu.edu,1,reviewer,1,1,Tan,Xiang Zhi,NaN,Robotics Institute,Carnegie Mellon University,United States
2032,zhida.sun@connect.ust.hk,1,reviewer,2,2,Sun,Zhida,NaN,Department of Computer Science and Engineering,Hong Kong University of Science and Technology,China
2033,zlkzhang@zju.edu.cn,1,reviewer,0,0,ZHANG,LEKAI,NaN,COMPUTER SCIENCE AND TECHNOLOGY,ZHEJIANG UNIVERSITY,CHINA
2034,zoran@cs.huji.ac.il,5,reviewer,2,2,Zoran,Amit,NaN,NaN,The Hebrew University of Jerusalem,Israel
2035,zpengab@connect.ust.hk,1,reviewer,1,1,Peng,Zhenhui,NaN,Department of Computer Science and Engineering,Hong Kong University of Science and Technology,China
2036,zsarsenbayev@student.unimelb.edu.au,2,reviewer,1,1,Sarsenbayeva,Zhanna,NaN,Department of Computing and Information Systems,The University of Melbourne,Australia
2037,ztoups@nmsu.edu,4,committee,18,18,Toups,Zachary,NaN,Play & Interactive Experiences for Learning La...,New Mexico State University,United States
2038,zubair-shafiq@uiowa.edu,1,reviewer,0,0,Shafiq,Zubair,NaN,"Department of Computer Science, The University...",,
2039,zwual@connect.ust.hk,3,reviewer,1,1,Wu,Ziming,NaN,Department of Computer Science and Engineering,The Hong Kong University of Science and Techno...,Hong Kong
2040,zyao2@cs.cmu.edu,1,reviewer,1,1,Yao,Zheng,NaN,Human-Computer Interaction Institute,Carnegie Mellon University,United States
2041,zzhaoao@connect.ust.hk,2,reviewer,2,2,Zhao,Zhenjie,NaN,Department of Computer Science and Engineering,The Hong Kong University of Science and Techno...,China

In [23]:
author_reviewers = author_reviewers_raw.query('review_assigned > 0').sort_values(by=['email'])
print("==============Authors who were assigned as reviewers===============\n")
print("Author reviewers: ", author_reviewers.email.count())
print("Average papers assigned per author: ", author_reviewers.review_assigned.mean())
print("Average submissions per reviewer: ", author_reviewers.review_submitted.mean())

==============Author who were assigned as reviewers===============

Author reviewers:  1323
Average papers assigned per author:  4.578231292517007
Average submissions per reviewer:  4.546485260770975

In [26]:
author_reviewers

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
4,a.ayobi@cs.ucl.ac.uk,1,reviewer,4,4,Ayobi,Amid,NaN,UCL Interaction Centre,University College London,United Kingdom
5,a.blandford@ucl.ac.uk,3,reviewer,1,1,Blandford,Ann,E,NaN,University College London,United Kingdom
6,a.boucher@gold.ac.uk,1,reviewer,1,1,Boucher,Andy,NaN,"Interaction Research Studio, Goldsmiths, Unive...",,
8,a.everitt@lancaster.ac.uk,3,reviewer,3,3,Everitt,Aluna,NaN,School of Computing and Communications,Lancaster Universty,United Kingdom
10,a.malizia@herts.ac.uk,1,reviewer,1,1,Malizia,Alessio,NaN,School of creative arts,University of Hertfordshire,United Kingdom
11,a.parker@neu.edu,3,reviewer,4,4,Parker,Andrea,NaN,College of Computer & Information Science,Northeastern University,United States
13,a.puussaar2@ncl.ac.uk,1,reviewer,1,1,Puussaar,Aare,NaN,Open Lab,Newcastle University,United Kingdom
14,a.r.dow@ncl.ac.uk,2,reviewer,1,1,Dow,Andy,NaN,Open Lab,Newcastle University,United Kingdom
17,a.schlesinger@gatech.edu,1,reviewer,2,2,Schlesinger,Ari,NaN,School of Interactive Computing,Georgia Institute of Technology,United States
18,a.steed@ucl.ac.uk,1,reviewer,3,3,Steed,Anthony,NaN,NaN,University College London,United Kingdom
21,a.vasalou@ucl.ac.uk,2,reviewer,1,1,Vasalou,Asimina,NaN,Institute of Education - UCL Knowledge Lab,University College London,United Kingdom
22,aakar@cs.toronto.edu,1,committee,16,16,Gupta,Aakar,NaN,NaN,University of Toronto,Canada
23,aantle@sfu.ca,2,reviewer,2,2,Antle,Alissa,NaN,NaN,Simon Fraser University,Canada
24,aaron.jiang@colorado.edu,2,reviewer,2,2,Jiang,"Jialun ""Aaron""",NaN,Department of Information Science,University of Colorado Boulder,United States
27,abdallah.elali@gmail.com,2,reviewer,3,3,El Ali,Abdallah,NaN,"University of Oldenburg, Oldenburg, Germany",,
28,abellucc@inf.uc3m.es,1,reviewer,3,3,Bellucci,Andrea,NaN,NaN,Universidad Carlos III de Madrid,Spain
30,abigail.durrant@northumbria.ac.uk,1,committee,20,20,Durrant,Abigail,NaN,NaN,Northumbria University,United Kingdom
31,abigale.stangl@colorado.edu,2,reviewer,1,1,Stangl,Abigale,NaN,NaN,University of Colorado-Boulder,United States
32,ablberry@uw.edu,1,reviewer,2,2,Berry,Andrew,B.L.,Human Centered Design & Engineering,University of Washington,United States
33,abowd@gatech.edu,1,reviewer,1,1,Abowd,Gregory,D,"School of Interactive Computing, Georgia Insti...",,
36,ackerm@umich.edu,3,reviewer,1,1,Ackerman,Mark,S.,NaN,University of Michigan,United States
37,acm@jofish.com,5,reviewer,1,1,Kaye,Jofish,NaN,NaN,Yahoo,United States
38,acmarsh@cmu.edu,2,reviewer,2,2,Marsh,Abigail,NaN,Institute for Software Research,Carnegie Mellon University,United States
41,adam.bradley@uwaterloo.ca,1,reviewer,1,1,Bradley,Adam,J,Systems Design Engineering,University of Waterloo,Canada
42,adamfo@microsoft.com,3,reviewer,6,6,Fourney,Adam,NaN,NaN,University of Waterloo,Canada
43,adesjard@uw.edu,1,committee,16,16,Desjardins,Audrey,NaN,NaN,Simon Fraser University,Canada
44,adil.yalcin@gmail.com,1,reviewer,1,1,Yalcin,Adil,NaN,Computer Science Department,University of Maryland,United States
45,adityav@cs.washington.edu,4,reviewer,4,4,Vashistha,Aditya,NaN,Computer Science and Engineering,University of Washington,United States
46,adrian.clear@northumbria.ac.uk,1,committee,16,16,Clear,Adrian,NaN,NaN,Northumbria University,United Kingdom
47,adrian.hazzard@nottingham.ac.uk,2,reviewer,1,1,Hazzard,Adrian,NaN,Mixed Reality Lab - School of Computer Science,University of Nottingham,England
...,...,...,...,...,...,...,...,...,...,...,...
1997,youngho@ce.mokpo.ac.kr,1,reviewer,1,1,Lee,Youngho,NaN,NaN,Mokpo National University,Korea
1998,youngjun.cho.15@ucl.ac.uk,2,reviewer,1,1,Cho,Youngjun,NaN,Interaction Centre/ Faculty of Brain Sciences,University College London (UCL),United Kingdom
2000,yrankin@gmail.com,1,committee,16,16,Rankin,Yolanda,NaN,NaN,IBM Research - Almaden,United States
2001,yuanchi.tseng@gmail.com,4,committee,19,19,Tseng,Yuan-Chi,NaN,"CXB Design Lab, Department of Industrial Design",National Cheng Kung University,Taiwan
2002,yuhenghu@uic.edu,1,reviewer,1,1,Hu,Yuheng,NaN,IDS,University of Illinois at Chicago,United States
2004,yunanc@ics.uci.edu,3,reviewer,1,1,Chen,Yunan,NaN,NaN,University of California,California
2007,yutakamitsue@gmail.com,2,reviewer,2,2,Tokuda,Yutaka,NaN,RCAST/The University of Tokyo/Hirose Lab,,Japan
2008,yuwu4@illinois.edu,1,reviewer,1,1,Wu,Yu,NaN,Computer Science,University of Illinois Urbana-Champaign,USA
2009,yuxin.meng@my.cityu.edu.hk,2,reviewer,1,1,Meng,Weizhi,NaN,Computer Science,City University of Hong Kong,Hong Kong
2010,yves.guiard@telecom-paristech.fr,2,reviewer,2,2,GUIARD,Yves,NaN,"LTCI, Telecom ParisTech",Universite Paris-Saclay,France
2011,ywang@syr.edu,4,committee,18,18,Wang,Yang,NaN,School of Information Studies,Syracuse University,United States
2012,ywangch@cse.ust.hk,1,reviewer,1,1,Wang,Yun,NaN,Department of Computer Science and Technology,The Hong Kong University of Science and Techno...,Hong Kong
2013,ywpark@unist.ac.kr,3,reviewer,2,2,Park,Young-Woo,NaN,"Interactive Product Design Lab, Industrial Design",School of Design and Human Engineering,
2014,yyao08@syr.edu,2,reviewer,4,4,Yao,Yaxing,NaN,NaN,School of Information Studies,New York
2017,yz769@cornell.edu,2,reviewer,2,2,Zhao,Yuhang,NaN,Jacobs Technion-Cornell Institute,Cornell Tech,United States
2019,zachry@u.washington.edu,2,reviewer,1,1,Zachry,Mark,NaN,NaN,University of Washington,United States
2023,zeiner@hdm-stuttgart.de,1,reviewer,1,1,Zeiner,Katharina,NaN,NaN,Stuttgart Media University,Germany
2025,zezschwitz@cs.uni-bonn.de,3,committee,17,18,von Zezschwitz,Emanuel,NaN,Usable Security Methods Group,University of Bonn,Germany
2026,zhai@acm.org,5,reviewer,1,1,Zhai,Shumin,NaN,NaN,Research @ Google,United States
2028,zhao@fxpal.com,3,reviewer,3,3,Zhao,Jian,NaN,NaN,FX Palo Alto Laboratory,United States
2029,zhaosd@comp.nus.edu.sg,9,committee,16,17,Zhao,Shengdong,NaN,NUS-HCI Lab,National University of Singapore,Singapore
2031,zhi.tan@ri.cmu.edu,1,reviewer,1,1,Tan,Xiang Zhi,NaN,Robotics Institute,Carnegie Mellon University,United States
2032,zhida.sun@connect.ust.hk,1,reviewer,2,2,Sun,Zhida,NaN,Department of Computer Science and Engineering,Hong Kong University of Science and Technology,China
2034,zoran@cs.huji.ac.il,5,reviewer,2,2,Zoran,Amit,NaN,NaN,The Hebrew University of Jerusalem,Israel
2035,zpengab@connect.ust.hk,1,reviewer,1,1,Peng,Zhenhui,NaN,Department of Computer Science and Engineering,Hong Kong University of Science and Technology,China
2036,zsarsenbayev@student.unimelb.edu.au,2,reviewer,1,1,Sarsenbayeva,Zhanna,NaN,Department of Computing and Information Systems,The University of Melbourne,Australia
2037,ztoups@nmsu.edu,4,committee,18,18,Toups,Zachary,NaN,Play & Interactive Experiences for Learning La...,New Mexico State University,United States
2039,zwual@connect.ust.hk,3,reviewer,1,1,Wu,Ziming,NaN,Department of Computer Science and Engineering,The Hong Kong University of Science and Techno...,Hong Kong
2040,zyao2@cs.cmu.edu,1,reviewer,1,1,Yao,Zheng,NaN,Human-Computer Interaction Institute,Carnegie Mellon University,United States
2041,zzhaoao@connect.ust.hk,2,reviewer,2,2,Zhao,Zhenjie,NaN,Department of Computer Science and Engineering,The Hong Kong University of Science and Techno...,China

In [25]:
author_reviewers_prob = author_reviewers_raw.query('role == "reviewer" & review_assigned > 0 & review_submitted < review_assigned')
print("==============Author reviewers who submitted less than assigned===============\n")
print("Author reviewers: ", author_reviewers_prob.email.count())
print("Average papers assigned per author: ", author_reviewers_prob.review_assigned.mean())
print("Average submissions per reviewer: ", author_reviewers_prob.review_submitted.mean())

==============Author reviewers who submitted less than assigned===============

Author reviewers:  7
Average papers assigned per author:  3.142857142857143
Average submissions per reviewer:  2.0

In [28]:
author_reviewers_prob

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
244,bjoern@eecs.berkeley.edu,4,reviewer,5,7,Hartmann,BjÃ¶rn,NaN,NaN,University of California,California
318,cearto@berkeley.edu,1,reviewer,5,6,Torres,Cesar,A,Electrical Engineering and Computer Science,University of California,California
485,djcran@indiana.edu,2,reviewer,1,2,Crandall,David,NaN,"School of Informatics, Computing, and Engineering",Indiana University,United States
526,ebakshy@fb.com,1,reviewer,0,1,Bakshy,Eytan,NaN,NaN,Facebook,California
1291,mgord@cs.stanford.edu,1,reviewer,1,2,Gordon,Mitchell,NaN,Computer Science,University of Rochester,United States
1381,netta.iivari@oulu.fi,2,reviewer,0,1,Livari,Netta,NaN,NaN,,
1785,steve.benford@nottingham.ac.uk,9,reviewer,2,3,Benford,Steve,NaN,Blah,The University of Nottingham,United Kingdom

In [31]:
# Authors who were NOT assigned any papers to review
author_only = author_reviewers_raw.query('review_assigned == 0')
print("==============Author reviewers who submitted less than assigned===============\n")
print("Author reviewers: ", author_only.email.count())

==============Author reviewers who submitted less than assigned===============

Author reviewers:  719

In [32]:
author_only

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
0,16022839@brookes.ac.uk,1,reviewer,0,0,Vovk,Alla,NaN,Performance Augmentation Lab,Oxford Brookes University,United Kingdom
1,a.a.a.alarfaj2@ncl.ac.uk,1,reviewer,0,0,Alarfaj,Aisha,Ahmed,School of Computing,Newcastle University,United Kingdom
2,a.alomainy@qmul.ac.uk,1,reviewer,0,0,Alomainy,Akram,NaN,School of Electronic Engineering and Computer ...,Queen Mary,
3,a.ambe@qut.edu.au,2,reviewer,0,0,Ambe,Aloha,Hufana,NaN,Queensland University of Technology,Australia
7,a.bowyer2@newcastle.ac.uk,1,reviewer,0,0,Bowyer,Alex,NaN,Open Lab,Newcastle University,United Kingdom
9,a.joinson@bath.ac.uk,1,reviewer,0,0,Joinson,Adam,NaN,NaN,University of Bath,United Kingdom
12,a.preston@kingston.ac.uk,1,reviewer,0,0,Preston,Anne,NaN,Learning and Teaching Enhancement Centre,Kingston University,United Kingdom
15,a.reinschluessel@gmail.com,2,reviewer,0,0,Reinschluessel,Anke,Verena,Human Computer Interaction Lab,University of Saskatchewan,Canada
16,a.sasse@cs.ucl.ac.uk,3,reviewer,0,0,Sasse,Martina Angela,NaN,NaN,University College London,United Kingdom
19,a.strohmayer@newcastle.ac.uk,3,reviewer,0,0,Strohmayer,Angelika,NaN,Open Lab,Newcastle University,United Kingdom
20,a.taylor@gsa.ac.uk,2,reviewer,0,0,Taylor,Andrea,F,NaN,Glasgow School of Art,United Kingdom
25,aaronshaw@northwestern.edu,1,reviewer,0,0,Shaw,Aaron,NaN,Department of Communication Studies,Northwestern University,United States
26,abaglion@iu.edu,1,reviewer,0,0,Baglione,Anna,NaN,Informatics Department,Indiana University,United States of America
29,abiaco@essex.ac.uk,1,reviewer,0,0,Iacob,Andrei,B,Computer Science and Electronic Engineering,University of Essex,United Kingdom
34,abq8392@gmail.com,1,reviewer,0,0,Chen,Mei-Ling,NaN,Institute of Information Systems and Applications,National Tsing Hua University,Taiwan
35,acar@sec.uni-hannover.de,1,reviewer,0,0,Acar,Yasemin,NaN,NaN,Leibniz University Hannover,Germany
39,acquisti@andrew.cmu.edu,1,reviewer,0,0,Acquisti,Alessandro,NaN,NaN,Carnegie Mellon University,United States
40,acrule@ucsd.edu,1,reviewer,0,0,Rule,Adam,NaN,Cognitive Science,UC San Diego,USA
48,adrian.holzer@epfl.ch,1,reviewer,0,0,Holzer,Adrian,NaN,REACT,EPFL,Switzerland
49,adruin@pratt.edu,1,reviewer,0,0,Druin,Allison,NaN,create,,
50,aemin@iu.edu,1,reviewer,0,0,Min,Aehong,NaN,"School of Informatics, Computing, and Engineering",Indiana University Bloomington,United States
51,aeo@andrew.cmu.edu,1,committee,0,0,Ogan,Amy,NaN,NaN,Carnegie Mellon University,United States
55,aga53@sfu.ca,1,reviewer,0,0,Gupta,Ankit,NaN,School of Interactive Arts and Technology,Simon Fraser University,Canada
58,agrawal.mehul92@gmail.com,1,reviewer,0,0,Agrawal,Mehul,NaN,Department of Design,Indian Institute of Technology,India
63,aislingk@vt.edu,1,reviewer,0,0,Kelliher,Aisling,NaN,Computer Science,Virginia Tech,United States
64,ajay.chander@gmail.com,3,reviewer,0,0,Chander,Ajay,NaN,Cognitive Systems and Healthcare,Fujitsu Labs of America,USA
66,ajit@ecologylab.net,2,reviewer,0,0,Jain,Ajit,NaN,Interface Ecology Lab,Texas A&M University,United States
69,akarduni@uncc.edu,1,reviewer,0,0,Karduni,Alireza,NaN,University of North Carolina at Charlotte,School of Architecture,United States
71,akitson@sfu.ca,1,reviewer,0,0,Kitson,Alexandra,NaN,School of Interactive Arts & Technology,Simon Fraser University,Canada
75,alberto.monge@polito.it,2,reviewer,0,0,Monge Roffarello,Alberto,NaN,Department of Control and Computer Engineering,Politecnico di Torino,Italy
...,...,...,...,...,...,...,...,...,...,...,...
1963,xionga@purdue.edu,1,reviewer,0,0,Xiong,Aiping,NaN,Psychological Sciences Department,Purdue University,United States
1965,xniu2@uncc.edu,1,reviewer,0,0,Niu,Xi,NaN,Software and Information Systems,University of North Carolina at Charlotte,USA
1966,xsren@acm.org,2,reviewer,0,0,Ren,Xiangshi,NaN,NaN,School of Informationï¼Kochi University of Te...,Japan
1967,xueqin@ece.ubc.ca,1,reviewer,0,0,Zhang,Xueqin,Zhang,Human Communication Technology Lab,UBC,Canada
1969,xyzhang@cs.ucsb.edu,1,reviewer,0,0,Zhang,Xinyi,NaN,"Computer Science, SAND Lab",University of California,California
1976,yashmehta@iiitdm.ac.in,1,reviewer,0,0,Mehta,Yash,Dhanpal,COMPUTER ENGINEERING,INDIAN INSTITUTE OF INFORMATION TECHNOLOGY,CHENNAI
1979,ydi@itu.dk,1,reviewer,0,0,Dittrich,Yvonne,NaN,Computer Science,IT University of Copenhagen,Denmark
1981,yfeng14@vols.utk.edu,1,reviewer,0,0,Feng,Yunhe,NaN,University of Tennessee,Electrical Engineering & Computer Science,United States
1984,yilei@ahlab.org,1,reviewer,0,0,Shi,Yilei,NaN,Augmented Human Lab,Singapore University of Technology and Design,Singapore
1986,ykaranam@iupui.edu,1,reviewer,0,0,Karanam,Yamini,NaN,School of Informatics and Computing,Indiana University,Marion
1987,ykarbaschi@gmail.com,1,reviewer,0,0,Karbaschi,Yaser,NaN,Computer Science,University of Houston,United States
1990,yliao598@umd.edu,1,reviewer,0,0,Liao,Yuting,NaN,Human Computer Interaction Lab,University of Maryland,Maryland
1991,yliu0@cs.washington.edu,1,reviewer,0,0,Liu,Yang,NaN,Paul G. Allen School of Computer Science & Eng...,the University of Washington,US
1994,yonetani@iis.u-tokyo.ac.jp,2,reviewer,0,0,Yonetani,Ryo,NaN,Institute of Industrial Science,The University of Tokyo,Japan
1996,yosra.rekik@inria.fr,1,reviewer,0,0,Rekik,Yosra,NaN,NaN,University of Lille Sci. & Tech,Lille
1999,younlim@kaist.ac.kr,4,committee,0,0,Lim,Youn-kyung,NaN,NaN,KAIST (Korea Advanced Institute of Science and...,Republic of Korea
2003,yuliangzhou7@gmail.com,1,reviewer,0,0,Zhou,Yuliang,Zhou,Department of Electrical and Computer Engineering,University of Auckland,New Zealand
2005,yurial@snu.ac.kr,1,reviewer,0,0,Oh,Changhoon,NaN,Seoul National University,,Korea
2006,yusuf.albayram@uconn.edu,1,reviewer,0,0,albayram,yusuf,NaN,Department of Computer Science and Engineering,University of Connecticut,United States
2015,yychan@ie.cuhk.edu.hk,1,reviewer,0,0,Chan,Rosanna,Yuen-Yan,Department of Information Engineering,The Chinese University of Hong Kong,Hong Kong
2016,yyk15@mails.tsinghua.edu.cn,3,reviewer,0,0,Yan,Yukang,NaN,"Tsinghua University, Department of CST",Institute of HCI and Media Integration,China
2018,z.yumak@uu.nl,2,reviewer,0,0,Yumak,Zerrin,NaN,Department of Information and Computing Sciences,Utrecht University,The Netherlands
2020,zannderson@gmail.com,3,reviewer,0,0,Anderson,Zann,NaN,Computer Science/College of Physical and Mathe...,Brigham Young University,United States
2021,zcui@umd.edu,2,reviewer,0,0,Cui,Zhe,NaN,Department of Electrical and Computer Engineering,University of Maryland,United States
2022,zdeng4@uh.edu,1,reviewer,0,0,Deng,Zhigang,Deng,Computer Science,University of Houston,United States
2024,zenaha@hotmail.com,1,reviewer,0,0,Alkubaisy,Zenah,NaN,NaN,The University of Nottingham,United Kingdom
2027,zhangjingyu@psych.ac.cn,1,reviewer,0,0,Zhang,Jingyu,NaN,Human factor lab,Institute of Psychology,
2030,zheliu1992@gmail.com,1,reviewer,0,0,Liu,Zhe,NaN,Industrial Engineering,Tsinghua University,China
2033,zlkzhang@zju.edu.cn,1,reviewer,0,0,ZHANG,LEKAI,NaN,COMPUTER SCIENCE AND TECHNOLOGY,ZHEJIANG UNIVERSITY,CHINA
2038,zubair-shafiq@uiowa.edu,1,reviewer,0,0,Shafiq,Zubair,NaN,"Department of Computer Science, The University...",,

In [37]:
reviewassigned_per_role = author_reviewers.groupby(['review_assigned', 'review_submitted', 'role'])
reviewassigned_per_role.count()

                                            email  submissions  family_name  \
review_assigned review_submitted role
1               0                reviewer       2            2            2
                1                committee      7            7            7
                                 reviewer     466          466          466
2               1                reviewer       2            2            2
                2                committee      3            3            3
                                 reviewer     255          255          255
3               2                reviewer       1            1            1
                3                committee      1            1            1
                                 reviewer     150          150          150
4               4                reviewer     123          123          123
5               5                reviewer      55           55           55
6               5                reviewer       1            1            1
                6                reviewer      31           31           31
7               5                reviewer       1            1            1
                7                reviewer      14           14           14
8               8                reviewer       6            6            6
9               9                reviewer       5            5            5
10              10               reviewer       2            2            2
12              12               reviewer       1            1            1
13              13               committee      1            1            1
                                 reviewer       1            1            1
15              0                committee      1            1            1
                15               committee      7            7            7
16              14               committee      1            1            1
                15               committee      2            2            2
                16               committee     46           46           46
17              16               committee      8            8            8
                17               committee     50           50           50
18              17               committee      4            4            4
                18               committee     40           40           40
19              18               committee      1            1            1
                19               committee     17           17           17
20              18               committee      1            1            1
                20               committee     12           12           12
21              21               committee      3            3            3
22              22               committee      2            2            2

                                            given_name  middle_initial  dep1  \
review_assigned review_submitted role
1               0                reviewer            2               0     0
                1                committee           7               3     3
                                 reviewer          466              75   354
2               1                reviewer            2               0     2
                2                committee           3               0     1
                                 reviewer          255              51   195
3               2                reviewer            1               0     1
                3                committee           1               0     0
                                 reviewer          150              18   102
4               4                reviewer          123              27    81
5               5                reviewer           55              16    32
6               5                reviewer            1               1     1
                6                reviewer           31               5    16
7               5                reviewer            1               0     0
                7                reviewer           14               0     6
8               8                reviewer            6               2     4
9               9                reviewer            5               0     4
10              10               reviewer            2               0     1
12              12               reviewer            1               0     1
13              13               committee           1               0     1
                                 reviewer            1               0     1
15              0                committee           1               0     0
                15               committee           7               0     4
16              14               committee           1               0     0
                15               committee           2               0     1
                16               committee          46               5    29
17              16               committee           8               0     2
                17               committee          50               7    33
18              17               committee           4               0     4
                18               committee          40               3    29
19              18               committee           1               0     0
                19               committee          17               0     9
20              18               committee           1               0     1
                20               committee          12               0     8
21              21               committee           3               1     3
22              22               committee           2               0     1

                                            ins1  country1
review_assigned review_submitted role
1               0                reviewer      2         2
                1                committee     7         7
                                 reviewer    466       466
2               1                reviewer      2         2
                2                committee     3         3
                                 reviewer    255       255
3               2                reviewer      1         1
                3                committee     1         1
                                 reviewer    150       150
4               4                reviewer    123       123
5               5                reviewer     55        55
6               5                reviewer      1         1
                6                reviewer     31        31
7               5                reviewer      1         1
                7                reviewer     14        14
8               8                reviewer      6         6
9               9                reviewer      5         5
10              10               reviewer      2         2
12              12               reviewer      1         1
13              13               committee     1         1
                                 reviewer      1         1
15              0                committee     1         1
                15               committee     7         7
16              14               committee     1         1
                15               committee     2         2
                16               committee    46        46
17              16               committee     8         8
                17               committee    50        50
18              17               committee     4         4
                18               committee    40        40
19              18               committee     1         1
                19               committee    17        17
20              18               committee     1         1
                20               committee    12        12
21              21               committee     3         3
22              22               committee     2         2

In [40]:
# plt.style.use('ggplot')
author_reviewers_prob_toplot = author_reviewers_prob.groupby(['review_assigned', 'review_submitted'])
author_reviewers_prob_toplot.count()
# list(author_reviewers_prob_toplot['role'].count())

,,email,submissions,role,family_name,given_name,middle_initial,dep1,ins1,country1
review_assigned,review_submitted,,,,,,,,,
1,0,2,2,2,2,2,0,0,2,2
2,1,2,2,2,2,2,0,2,2,2
3,2,1,1,1,1,1,0,1,1,1
6,5,1,1,1,1,1,1,1,1,1
7,5,1,1,1,1,1,0,0,1,1

# How many authors reviewed less than their submissions?

In [42]:
author_reviewers_less_sub = author_reviewers.query('submissions > review_submitted')
author_reviewers_less_sub

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
5,a.blandford@ucl.ac.uk,3,reviewer,1,1,Blandford,Ann,E,NaN,University College London,United Kingdom
14,a.r.dow@ncl.ac.uk,2,reviewer,1,1,Dow,Andy,NaN,Open Lab,Newcastle University,United Kingdom
21,a.vasalou@ucl.ac.uk,2,reviewer,1,1,Vasalou,Asimina,NaN,Institute of Education - UCL Knowledge Lab,University College London,United Kingdom
31,abigale.stangl@colorado.edu,2,reviewer,1,1,Stangl,Abigale,NaN,NaN,University of Colorado-Boulder,United States
36,ackerm@umich.edu,3,reviewer,1,1,Ackerman,Mark,S.,NaN,University of Michigan,United States
37,acm@jofish.com,5,reviewer,1,1,Kaye,Jofish,NaN,NaN,Yahoo,United States
47,adrian.hazzard@nottingham.ac.uk,2,reviewer,1,1,Hazzard,Adrian,NaN,Mixed Reality Lab - School of Computer Science,University of Nottingham,England
54,afrodrigues@fc.ul.pt,2,reviewer,1,1,Rodrigues,AndrÃ©,NaN,"LaSIGE, University of Lisbon, Lisbon, Portugal",University of Lisbon,Portugal
56,agha.ali.raza@gmail.com,5,reviewer,2,2,Raza,Agha Ali,NaN,Computer Science,Information Technology University,Punjab
73,alan.chamberlain@nottingham.ac.uk,2,reviewer,1,1,Chamberlain,Alan,NaN,Mixed Reality Lab,The University of Nottingham,United Kingdom
74,alanson.sample@disneyresearch.com,4,reviewer,2,2,Sample,Alanson,NaN,Disney Research Pittsburgh,Disney Research,United States
79,alex.williams@uwaterloo.ca,3,reviewer,2,2,Williams,Alex,C,School of Computer Science,University of Waterloo,Canada
92,alfianna@microsoft.com,2,reviewer,1,1,Fiannaca,Alexander,J,Computer Science & Engineering,University of Washington,United States
94,alice.thudt@googlemail.com,2,reviewer,1,1,Thudt,Alice,NaN,NaN,Ludwig-Maximilian-UniversitÃ¤t,Germany
101,always@acm.org,8,reviewer,4,4,Jones,Matt,NaN,NaN,Swansea University,United Kingdom
112,amot@di.ku.dk,4,reviewer,2,2,Mottelson,Aske,o,Department of Computer Science,University of Copenhagen,Denmark
122,anderson@cs.washington.edu,6,reviewer,2,2,Anderson,Richard J,NaN,"Computer Science and Engineering, University o...",,
127,andreas.riener@thi.de,2,reviewer,1,1,Riener,Andreas,NaN,Human Factors and Driving Ergonomics-Group,Technische Hochschule Ingolstadt (THI),Germany
141,anind@cs.cmu.edu,4,committee,2,2,Dey,Anind,NaN,NaN,Carnegie Mellon University,United States
149,anna.feit@aalto.fi,4,reviewer,3,3,Feit,Anna,Maria,"School of Electrical Engineering, Department o...",Aalto University,Finland
153,ansgarerasmus@gmail.com,2,reviewer,1,1,Depping,Ansgar,E,Interaction Lab,University of Sakatchewan,Canada
157,antti.oulasvirta@aalto.fi,9,reviewer,5,5,Oulasvirta,Antti,NaN,NaN,Aalto University,Finland
182,asb@cc.gatech.edu,4,reviewer,2,2,Bruckman,Amy,NaN,NaN,Georgia Institute of Technology,United States
184,ashley.colley@gmail.com,4,reviewer,1,1,Colley,Ashley,NaN,Center for Internet Excellence,University of Oulu,Finland
187,asma_gh@mit.edu,2,reviewer,1,1,Ghandeharioun,Asma,NaN,Media Lab,Massachusetts Institute of Technology,US
192,atm15@cs.washington.edu,2,reviewer,1,1,Mariakakis,Alexander,Timothy,Computer Science and Engineering,University of Washington,United States
202,azhenley@memphis.edu,2,reviewer,1,1,Henley,Austin,Zachary,Department of Computer Science,University of Memphis,USA
204,b.a.price@open.ac.uk,3,reviewer,2,2,Price,Blaine,A,Computing & Communications,The Open University,United Kingdom
212,baris.serim@helsinki.fi,2,reviewer,1,1,Serim,Baris,NaN,Department of Computer Science,Helsinki Institute for Information Technology ...,
219,bastian.pfleging@ifi.lmu.de,5,reviewer,3,3,Pfleging,Bastian,NaN,Human-Machine Interaction Group,LMU Munich,Germany
...,...,...,...,...,...,...,...,...,...,...,...
1877,tpfeiffe@techfak.uni-bielefeld.de,2,reviewer,1,1,Pfeiffer,Thies,NaN,"A.I. Group, Faculty of Technology",Bielefeld University,Germany
1879,treitmaier@googlemail.com,3,reviewer,2,2,Reitmaier,Thomas,Oliver,NaN,Swansea University,United Kingdom
1894,ulrike.pfeil@uni-konstanz.de,3,reviewer,2,2,Pfeil,Ulrike,NaN,Human-Computer Interaction Group,University of Konstanz,Germany
1898,vaikam@umich.edu,4,reviewer,1,1,Kameswaran,Vaishnav,NaN,School of Information,University of Michigan,United States
1899,valentin.schwind@vis.uni-stuttgart.de,8,reviewer,2,2,Schwind,Valentin,NaN,VIS,University of Stuttgart,Germany
1901,vania@dc.ufscar.br,6,reviewer,1,1,Almeida Neris,Vania,Paula,Department of Computer Science,UFSCar,Brazil
1912,vichithanh@gmail.com,2,reviewer,1,1,Vi,Chi,Thanh,"SCHI lab, Creative Technology Group, School of...",University of Sussex,United Kingdom
1916,ville.mi.makela@staff.uta.fi,2,reviewer,1,1,MÃ¤kelÃ¤,Ville,Mikael,School of Information Sciences,University of Tampere,Finland
1921,vivek.k.singh@rutgers.edu,3,reviewer,1,1,Singh,Vivek,K.,School of Communication and Information,Rutgers University,United States
1922,voelker@cs.rwth-aachen.de,6,reviewer,3,3,Voelker,Simon,NaN,NaN,RWTH Aachen University,Germany
1923,volker.wulf@uni-siegen.de,6,reviewer,5,5,Wulf,Volker,NaN,NaN,University of Siegen,Germany
1926,w.s@sfu.ca,10,reviewer,4,4,Stuerzlinger,Wolfgang,NaN,School of Interactive Arts + Technology (SIAT),Simon Fraser University,Canada
1934,weibel@ucsd.edu,4,reviewer,2,2,Weibel,Nadir,NaN,Department of Computer Science and Engineering,University of California,California
1959,xiangchen@acm.org,6,reviewer,4,4,Chen,Xiang 'Anthony',NaN,Human-Computer Interaction Institute,Carnegie Mellon University,United States
1961,xiaojuan.c.ma@gmail.com,2,reviewer,1,1,Ma,Xiaojuan,NaN,Department of Computer Science and Engineering,the Hong Kong University of Science and Techno...,China
1970,y.lu@tue.nl,2,reviewer,1,1,Lu,Yuan,NaN,Eindhoven University of Technology,Eindhoven University of Technology,Netherlands
1973,yang.zhang@cs.cmu.edu,3,reviewer,1,1,Zhang,Yang,NaN,Human-Computer Interaction Institute,Carnegie Mellon University,United States
1978,ycwu@zju.edu.cn,2,reviewer,1,1,Wu,Yingcai,NaN,Computer Science,Zhejiang University,China
1983,yhuang@syr.edu,3,reviewer,2,2,Huang,Yun,NaN,School of Information Studies,Syracuse University,United States
1985,ykakehi@sfc.keio.ac.jp,2,reviewer,1,1,Kakehi,Yasuaki,NaN,NaN,Keio University,Japan
1993,yomna.abdelrahman@vis.uni-stuttgart.de,4,reviewer,3,3,Abdelrahman,Yomna,NaN,VIS,University of Stuttgart,Germany
1998,youngjun.cho.15@ucl.ac.uk,2,reviewer,1,1,Cho,Youngjun,NaN,Interaction Centre/ Faculty of Brain Sciences,University College London (UCL),United Kingdom
2004,yunanc@ics.uci.edu,3,reviewer,1,1,Chen,Yunan,NaN,NaN,University of California,California
2009,yuxin.meng@my.cityu.edu.hk,2,reviewer,1,1,Meng,Weizhi,NaN,Computer Science,City University of Hong Kong,Hong Kong
2013,ywpark@unist.ac.kr,3,reviewer,2,2,Park,Young-Woo,NaN,"Interactive Product Design Lab, Industrial Design",School of Design and Human Engineering,
2019,zachry@u.washington.edu,2,reviewer,1,1,Zachry,Mark,NaN,NaN,University of Washington,United States
2026,zhai@acm.org,5,reviewer,1,1,Zhai,Shumin,NaN,NaN,Research @ Google,United States
2034,zoran@cs.huji.ac.il,5,reviewer,2,2,Zoran,Amit,NaN,NaN,The Hebrew University of Jerusalem,Israel
2036,zsarsenbayev@student.unimelb.edu.au,2,reviewer,1,1,Sarsenbayeva,Zhanna,NaN,Department of Computing and Information Systems,The University of Melbourne,Australia
2039,zwual@connect.ust.hk,3,reviewer,1,1,Wu,Ziming,NaN,Department of Computer Science and Engineering,The Hong Kong University of Science and Techno...,Hong Kong

In [43]:
author_reviewers_less_sub_assigned = author_reviewers.query('submissions > review_submitted & review_submitted < review_assigned')
author_reviewers_less_sub_assigned

,email,submissions,role,review_submitted,review_assigned,family_name,given_name,middle_initial,dep1,ins1,country1
485,djcran@indiana.edu,2,reviewer,1,2,Crandall,David,NaN,"School of Informatics, Computing, and Engineering",Indiana University,United States
526,ebakshy@fb.com,1,reviewer,0,1,Bakshy,Eytan,NaN,NaN,Facebook,California
1381,netta.iivari@oulu.fi,2,reviewer,0,1,Livari,Netta,NaN,NaN,,
1671,sdrucker@microsoft.com,2,committee,0,15,Drucker,Steven,NaN,NaN,Microsoft Research,United States
1785,steve.benford@nottingham.ac.uk,9,reviewer,2,3,Benford,Steve,NaN,Blah,The University of Nottingham,United Kingdom