# CHI 2018 Author and Reviewer Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

authors = pd.read_csv("../data/listOfAuthors-papers.csv", encoding='latin1', quotechar="\"", index_col='Paper-Author')
del authors['ins2']
authors['email'] = authors.email.astype(str).str.lower()
authors

,decision,given_name,middle_initial,family_name,email,ins1
Paper-Author,,,,,,
pn2678-1,QR,Keran,,Zhao,kzhao23@uic.edu,"University of Illinois at Chicago, School of B..."
pn2678-2,QR,Yuheng,,Hu,yuhenghu@uic.edu,"Department of Information and Decision System,..."
pn2515-1,R,Marcos,,Serrano,marcos.serrano@irit.fr,"University of Toulouse & CNRS; IRIT, Toulouse,..."
pn2515-2,R,Florine,,Simon,florine.simon@irit.fr,"University of Toulouse & CNRS; IRIT, Toulouse,..."
pn2515-3,R,Anne,,Roudaut,anne.roudaut@bristol.ac.uk,"University of Bristol, Bristol, UK"
pn2515-4,R,Pourang,,Irani,irani@cs.umanitoba.ca,"Department of Computer Science, University of ..."
pn3806-1,R,Daniel,,Epstein,depstein@cs.washington.edu,"Computer Science & Engineering, University of ..."
pn3806-2,R,Koko,,Nakajima,koko_nakajima@brown.edu,"Brown University, Providence, Rhode Island, Un..."
pn3806-3,R,Mira,,Dontcheva,mirad@adobe.com,"Adobe Research, Seattle, Washington, United St..."
pn3806-4,R,James,,Fogarty,jfogarty@cs.washington.edu,"Computer Science & Engineering, University of ..."
pn3806-5,R,Sean,,Munson,smunson@uw.edu,"Human Centered Design & Engineering, Universit..."
pn4331-1,R,Zhenliang,,Zhang,zzlbit@163.com,"School of Optoelectronics, Beijing Institute o..."
pn4331-2,R,Jie,,Guo,guojie@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4331-3,R,Benyang,,Cao,cby1997@vip.qq.com,"School of Optoelectronics, Beijing Institute o..."
pn4331-4,R,Dongdong,,Weng,crgj@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4331-5,R,Yue,,Liu,liuyue@bit.edu.cn,"School of Optoelectronics, Beijing Institute o..."
pn4664-1,A,Shota,,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Ja..."
pn4664-2,A,Wolfgang,,Stuerzlinger,w.s@sfu.ca,School of Interactive Arts + Technology (SIAT)...
pn4664-3,A,Homei,,Miyashita,homei@homei.com,"School of Science and Technology, Meiji Univer..."
pn3061-1,R,Shota,,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Ja..."
pn3061-2,R,Homei,,Miyashita,homei@homei.com,"Meiji University, 4-21-1,Nakano,, Nakano-ku, T..."
pn3703-1,R,Shota,,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Ja..."
pn3703-2,R,Homei,,Miyashita,homei@homei.com,"School of Science and Technology, Meiji Univer..."
pn2719-1,R,Shota,,Yamanaka,syamanak@yahoo-corp.jp,"Yahoo Japan Corporation, Chiyoda-ku, Tokyo, Ja..."
pn3210-1,R,Kleddao,,Satcharoen,kleddao@gmail.com,"Faculty of Engineering, King Mongkutâs Insti..."
pn4544-1,W,Sana,,Maqsood,sanamaqsood@cmail.carleton.ca,"School of Computer Science, Carleton Universit..."
pn4544-2,W,Christine,,Mekhail,cmekhail@gmail.com,"School of Computer Science, Carleton Universit..."
pn4544-3,W,Sonia,,Chiasson,chiasson@scs.carleton.ca,"School of Computer Science, Carleton Universit..."
pn1130-1,R,Mehdi,,Ghafarianzadeh,mehdi.ghaf@gmail.com,"Information Technology Management, Islamic Aza..."
pn1130-2,R,Farzad,,Movahedi Sobhani,fmovahedi@iau.ac.ir,"Information Technology Management, Islamic Aza..."
...,...,...,...,...,...,...
pn4471-2,R,Rakesh,B.,Bobba,rakesh.bobba@oregonstate.edu,"Oregon State University, Corvallis, Oregon, Un..."
pn4471-3,R,Mike,,Rosulek,rosulekm@oregonstate.edu,"Oregon State University, Corvallis, Oregon, Un..."
pn4471-4,R,Charles,V.,Wright,cvw@pdx.edu,"Portland State University, Portland, Oregon, U..."
pn4471-5,R,Wuchi,,Feng,wuchi@cs.pdx.edu,"Computer Science, Portland State University, P..."
pn2857-1,R,Lex,,Fridman,fridman@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-2,R,Bruce,,Mehler,bmehler@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-3,R,Lei,,Xia,leixia@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-4,R,Yangyang,,Yang,yyyang@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-5,R,Laura Yvonne,,Facusse,facusse@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn2857-6,R,Bryan,,Reimer,reimer@mit.edu,"Massachusetts Institute of Technology, Cambrid..."
pn1506-1,R,Andrej,,KoÅ¡ir,andrej.kosir@lucami.fe.uni-lj.si,User-adapted communication and ambient intelli...
pn1506-2,R,Gregor,,Strle,gregor.strle@fe.uni-lj.si,User-Adapted Communication and Ambinet Intelli...
pn1506-3,R,Marko,,MeÅ¾a,marko.meza@lucami.fe.uni-lj.si,User-Adapted Communication and Ambinet Intelli...
pn1358-1,R,Xinru,,Page,xpage@bentley.edu,"Computer Information Systems, Bentley Universi..."
pn1358-2,R,Reza,G,Anaraky,rghaium@clemson.edu,"Clemson University, Clemson, South Carolina, U..."
pn1358-3,R,Bart P.,,Knijnenburg,bartk@clemson.edu,"School of Computing, Clemson University, Clems..."
pn3744-1,R,Cong,,Chen,congchenutd@gmail.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn3744-2,R,Yuko,,Okubo,yokubo@us.fujitsu.com,"Fujitsu Labs of America, Sunnyvale, California..."
pn3744-3,R,Jorjeta,,Jetcheva,jjetcheva@us.fujitsu.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn3744-4,R,Ajay,,Chander,ajay.chander@gmail.com,"Fujitsu Laboratories of America, Sunnyvale, Ca..."
pn2798-1,QR,Varun,,Prabhakar,varun.prabhakar07@gmail.com,"Tech Strategy Team\\UX\\UX Lab, Samsung R&D In..."
pn2798-2,QR,Anshumali,,Baruah,anshu.baruah@gmail.com,"NXT, Samsung R&D Institute, Bangalore, Karnata..."
pn3689-1,R,Michael,,McConville,mmcc@cs.utah.edu,"School of Computing, University of Utah, Salt ..."
pn3689-2,R,Batya,,Friedman,batya@uw.edu,"The Information School, University of Washingt..."
pn3689-3,R,Tadayoshi,,Kohno,yoshi@cs.washington.edu,"University of Washington, Seattle, Washington,..."
pn3689-4,R,Tamara,,Denning,tdenning@cs.utah.edu,"School of Computing, University of Utah, Salt ..."
pn1531-1,R,Stella,U,Boess,s.u.boess@tudelft.nl,"Delft University of Technology, Delft, Netherl..."
pn4351-1,A,Oussama,,Metatla,o.metatla@bristol.ac.uk,"Department of Computer Science, University of ..."
pn4351-2,A,Nick,,Bryan-Kinns,n.bryan-kinns@qmul.ac.uk,"Centre for Digital Music, Queen Mary, Universi..."
pn4351-3,A,Tony,,Stockman,tony.stockman@eecs.qmul.ac.uk,School of Electronic Engineering and Computer ...

In [43]:
reviewers = pd.read_csv("../data/listOfReviewers-papers.csv", encoding='latin1', header=0, index_col='ID')

reviewers = reviewers.loc[:,['role','review_submitted','review_assigned','family_name','given_name','middle_initial','email','dep1','ins1', 'country1']]
reviewers['email'] = reviewers.email.astype(str).str.lower()
reviewers

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
5619,reviewer,0,0,-,Vinayak,NaN,vinayak@tamu.edu,Department of Mechanical Engineering,"""Texas A&M University""","""United States"""
6524,reviewer,3,3,Edwards,Alistair,NaN,alistair@cs.york.ac.uk,NaN,"""University of York""","""United Kingdom"""
10150,reviewer,1,1,Nouwens,Midas,NaN,m.midas.m@gmail.com,ICT,"""Kungliga Tekniska HÃ¶gskolan""","""Sweden"""
5355,reviewer,3,3,Ge,Ni,NaN,dvsnigel@gmail.com,Human-Computer Interaction Institute,"""Carnegie Mellon University (CMU)""","""USA"""
8005,reviewer,2,2,Rasmussen,Majken,NaN,mkirkegaard@cs.au.dk,NaN,"""""",""""""
10328,reviewer,1,1,Archambault,Leanna,NaN,leanna.archambault@asu.edu,Mary Lou Fulton Teachers College,"""Arizona State University""","""USA"""
7325,reviewer,0,0,A.B.M. Alim Al,Islam,NaN,razi_bd@yahoo.com,Department of Computer Science and Engineering,"""Bangladesh University of Engineering and Tec...","""Bangladesh"""
7437,reviewer,1,1,Aal,Konstantin,NaN,konstantin.aal@uni-siegen.de,Institute for Information Systems,"""University of Siegen""","""Germany"""
9883,reviewer,0,0,Abdelnasser,Heba,NaN,heba.abdelnasser@alexu.edu.eg,"""""","""""",""""""
7119,reviewer,3,3,Abdelrahman,Yomna,NaN,yomna.abdelrahman@vis.uni-stuttgart.de,VIS,"""University of Stuttgart""","""Germany"""
7482,reviewer,0,0,Abdollahi,Hojjat,NaN,hojjat.abdollahi@gmail.com,ECE,"""University of Denver""","""United States"""
9809,reviewer,1,1,Abdolrahmani,Ali,NaN,aliab1@umbc.edu,"University of Maryland, Baltimore County, Balt...","""UMBC""","""United States"""
5906,reviewer,0,0,Abdul-Rahman,Alfie,NaN,alfie.abdulrahman@gmail.com,Oxford e-Research Centre,"""University of Oxford""","""United Kingdom"""
5377,reviewer,0,0,Abdulhamid,Najeeb,Gambo,najeebgambo.abdulhamid2@brunel.ac.uk,Computer Science,"""Brunel University London""","""United Kingdom"""
9117,reviewer,3,3,Abdullah,Saeed,NaN,sma249@cornell.edu,Information Science and Technology,"""Penn State""","""United States"""
9677,reviewer,1,1,Ablart,Damien,NaN,da292@sussex.ac.uk,"SCHI Lab, Creative Technology Group","""University of Sussex""","""United Kingdom"""
8424,reviewer,1,1,Abokhodair,Norah,NaN,noraha@uw.edu,Information School,"""University of Washington""","""United States"""
6237,reviewer,0,0,ABOU AMSHA,Khuloud,NaN,khuloud.abou_amsha@utt.fr,Tech-cico,"""Institut Charles Delaunay""","""France"""
8736,reviewer,0,0,Abouzied,Azza,NaN,azza@nyu.edu,New York University - Abu Dhabi,"""Abu Dhabi""","""United Arab Emirates"""
8316,reviewer,0,0,Abouzied,Azza,NaN,azza@berkeley.edu,NaN,"""""",""""""
7589,reviewer,1,1,Abowd,Gregory,D,abowd@gatech.edu,"School of Interactive Computing, Georgia Insti...","""""",""""""
8663,reviewer,0,0,Abraham,Joanna,NaN,abrahamj@uic.edu,Biomedical and Health Information Sciences,"""University of Illinois""","""USA"""
9950,reviewer,0,0,Abraham,Hillary,NaN,habraham@mit.edu,AgeLab,"""Massachusetts Institute of Technology""","""United States"""
9756,reviewer,0,0,Abtahi,Parastoo,NaN,parastoo@stanford.edu,Computer Science,"""Stanford University""","""United States"""
7538,reviewer,0,0,Abu-Salma,Ruba,NaN,ruba.abu-salma.13@ucl.ac.uk,Dept. of Computer Science,"""University College London (UCL)""","""United Kingdom"""
5384,reviewer,0,0,Abujelala,Maher,NaN,maher.abujelala@mavs.uta.edu,Department of Computer Science and Engineering,"""University of Texas at Arlington""","""United States"""
9797,reviewer,0,0,Acar,Yasemin,NaN,acar@usecap.uni-hannover.de,NaN,"""""",""""""
10239,reviewer,0,0,Acar,Yasemin,NaN,acar@sec.uni-hannover.de,NaN,"""Leibniz University Hannover""","""Germany"""
9822,reviewer,1,1,Ackerman,Mark,S.,ackerm@umich.edu,NaN,"""University of Michigan""","""United States"""
8215,reviewer,0,0,Acquisti,Alessandro,NaN,acquisti@andrew.cmu.edu,NaN,"""Carnegie Mellon University""","""United States"""
...,...,...,...,...,...,...,...,...,...,...
10163,reviewer,1,1,Zhou,Rui,NaN,rzhou61@gatech.edu,School of Interactive Computing,"""Georgia Institute of Technology""","""United States"""
6131,reviewer,0,0,Zhou,Sharon,NaN,sharon.waxseal@gmail.com,Computer Science,"""Stanford University""","""United States"""
5088,committee,17,17,Zhu,Haiyi,NaN,haiyi@cs.umn.edu,GroupLens Research,"""University of Minnesota""","""United States"""
7196,reviewer,2,2,Zhu,Jichen,NaN,jichen.zhu@gmail.com,NaN,"""Drexel University""","""United States"""
8068,reviewer,1,1,Zhu,Bin,NaN,binz@kth.se,NaN,"""Royal Institute of Technology (KTH)""","""Sweden"""
5919,reviewer,4,4,Zhu,Kening,NaN,kenju850915@gmail.com,"School of Creative Media, City University of H...","""""",""""""
7103,reviewer,1,1,Zhu,Yeshuang,NaN,yeshuangzhu@gmail.com,Department of Computer Science and Technology,"""Tsinghua University""","""China"""
5582,reviewer,1,1,Zhu,Haining,NaN,hbz5037@psu.edu,College of Information Sciences and Technology,"""Pennsylvania State University""","""United States"""
7274,reviewer,0,0,Zhu,Suwen,NaN,suwzhu@cs.stonybrook.edu,Stony Brook University,"""Stony Brook University""","""United States"""
7390,reviewer,0,0,Zhuang,Yan,NaN,yanzhuan@buffalo.edu,CSE department,"""Univerisyt at Buffalo""","""USA"""
7497,reviewer,0,0,Zia,Leila,NaN,leila@wikimedia.org,NaN,"""Wikimedia Foundation""",""""""
9131,reviewer,0,0,Ziat,Mounia,NaN,mziat@nmu.edu,Psychology,"""Northern Michigan University""","""United States"""
9490,reviewer,1,1,Zielinski,David,NaN,djzielin@duke.edu,Pratt School of Engineering,"""Duke University""","""USA"""
6735,reviewer,0,0,Ziesemer,Angelina,NaN,angelina.ziesemer@acad.pucrs.br,PUCRS,"""FACIN""","""Brazil"""
6126,reviewer,0,0,Zietz,Jason,NaN,jason.zietz@colorado.edu,Computer Science,"""University of Colorado Boulder""","""United States"""
9934,committee,2,2,Zimmerman,John,NaN,johnz@cs.cmu.edu,NaN,"""Carnegie Mellon University""","""United States"""
8150,reviewer,0,0,Zimmermann,Gottfried,NaN,gzimmermann@acm.org,NaN,"""""",""""""
8102,reviewer,0,0,Zohar,Aviv,NaN,avivz@cs.huji.ac.il,NaN,"""""",""""""
5324,reviewer,2,2,Zollmann,Stefanie,NaN,stefanie.zollmann@otago.ac.nz,NaN,"""Graz University of Technology""","""Austria"""
6798,reviewer,0,0,Zolyomi,Annuska,NaN,annuska@uw.edu,Information School,"""University of Washington""","""United States"""
6981,reviewer,1,1,Zook,Alexander,E,azook3@gatech.edu,NaN,"""Georgia Institute of Technology""","""USA"""
7951,reviewer,2,2,Zoran,Amit,NaN,zoran@cs.huji.ac.il,NaN,"""The Hebrew University of Jerusalem""","""Israel"""
5659,reviewer,0,0,Zoss,Angela,NaN,amzoss@indiana.edu,NaN,"""Duke University""","""United States"""
6548,reviewer,0,0,Zou,Yongpan,NaN,yzouad@cse.ust.hk,Congputer Science and Engineering,"""Hong Kong University of Science and Technology""","""China"""
6244,reviewer,1,1,Zubiaga,Arkaitz,NaN,arkaitz@zubiaga.org,NaN,"""University of Warwick""","""United Kingdom"""
5114,committee,20,20,Zuckerman,Oren,NaN,orenz@idc.ac.il,Media Innovation Lab,"""The Interdisciplinary Center (IDC) Herzliya""","""Israel"""
9601,reviewer,1,1,Zuckerman,Ethan,NaN,ethanz@media.mit.edu,"Center for Civic Media, MIT","""MIT Media Lab""","""United States"""
9946,reviewer,0,0,Zuk,Torre,NaN,tdzuk@ucalgary.ca,NaN,"""""",""""""
8218,reviewer,1,1,Zurko,Mary Ellen,NaN,mez@alum.mit.edu,NaN,"""""",""""""
6741,reviewer,2,2,Zytko,Doug,NaN,daz2@njit.edu,Information Systems/New Jersey Institute of Te...,"""New Jersey Institute of Technology""","""United States"""

# How many reviewers submitted less than assigned?

In [3]:
reviewers.query('review_submitted < review_assigned')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
ID,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,"""Al-Balqa Applied University"""
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,""""""
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,"""Facebook"
8112,reviewer,2,3,Benford,Steve,NaN,steve.benford@nottingham.ac.uk,Blah,"""The University of Nottingham"""
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,"""University of Gothenburg"""
5025,committee,17,18,Bulling,Andreas,NaN,bulling@mpi-inf.mpg.de,Max Planck Institute for Informatics,"""Saarland Informatics Campus"""
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,""""""
5018,committee,16,17,Cauchard,Jessica,R,jcauchard@acm.org,NaN,"""Interdisciplinary Center (IDC) Herzliya"""
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,"""University of Toronto"""
7409,reviewer,1,2,Crandall,David,NaN,djcran@indiana.edu,"School of Informatics, Computing, and Engineering","""Indiana University"""
5658,committee,16,17,Dasgupta,Sayamindu,NaN,sdg1@uw.edu,NaN,"""University of Washington"""
5103,committee,17,18,De Choudhury,Munmun,NaN,mchoudhu@cc.gatech.edu,School of Interactive Computing,"""Georgia Tech"""
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,"""Microsoft Research"""
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,"""Northumbria University"""
6082,reviewer,1,2,Gordon,Mitchell,NaN,mgord@cs.stanford.edu,Computer Science,"""University of Rochester"""
5011,committee,16,17,Gutwin,Carl,NaN,gutwin@cs.usask.ca,NaN,"""University of Saskatchewan"""
6136,reviewer,5,7,Hartmann,BjÃ¶rn,NaN,bjoern@eecs.berkeley.edu,NaN,"""University of California"
5285,committee,18,19,Khan,Azam,NaN,azam.khan@autodesk.com,Autodesk Research,"""Autodesk"""
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,""""""
5053,committee,18,20,Kumar,Ranjitha,NaN,ranjitha@illinois.edu,Computer Science,"""University of Illinois at Urbana-Champaign"""
5276,committee,16,17,Latulipe,Celine,NaN,clatulip@uncc.edu,NaN,"""University of North Carolina at Charlotte"""
7302,committee,15,16,Lindgren,Robb,NaN,robblind@illinois.edu,"Digital Environments for Learning, Teaching, a...","""University of Illinois"""
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,""""""
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,""""""
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,""""""
7321,committee,15,16,Lopes,Pedro,NaN,pedro.lopes@hpi.uni-potsdam.de,NaN,"""Hasso Plattner Institute"""
5013,committee,16,17,Mackay,Wendy,NaN,mackay@lri.fr,NaN,"""Inria"""
5035,committee,14,16,Malacria,Sylvain,NaN,sylvain.malacria@inria.fr,NaN,"""Inria"""
5198,committee,16,17,Marcu,Gabriela,NaN,gmarcu@drexel.edu,College of Computing and Informatics,"""Drexel University"""
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,"""Georgia Institute of Technolgy"""
5083,committee,16,17,Oh,Alice,NaN,alice.oh@kaist.edu,NaN,"""KAIST"""
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design","""Northeastern University"""
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,"""Yahoo"""
5041,committee,15,16,Reilly,Derek,NaN,reilly@cs.dal.ca,Faculty of Computer Science,"""Dalhousie University"""
5097,committee,18,19,Sarcevic,Aleksandra,NaN,aleksarc@drexel.edu,NaN,"""Drexel University"""
6001,committee,17,18,SlovÃ¡k,Petr,NaN,p.slovak@ucl.ac.uk,UCLIC,"""University College London"""
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,""""""
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,"""Auburn University"""
5964,reviewer,5,6,Torres,Cesar,A,cearto@berkeley.edu,Electrical Engineering and Computer Science,"""University of California"
5212,committee,14,15,Trewin,Shari,NaN,trewin@us.ibm.com,NaN,"""IBM T.J. Watson Research Center"""
5496,committee,17,18,von Zezschwitz,Emanuel,NaN,zezschwitz@cs.uni-bonn.de,Usable Security Methods Group,"""University of Bonn"""
5265,committee,16,17,Walker,Erin,NaN,erin.a.walker@asu.edu,NaN,"""Arizona State University"""
5645,committee,17,18,Wallner,Guenter,NaN,guenter.wallner@uni-ak.ac.at,"University of Applied Arts Vienna, Institute o...",""""""
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,"""Princeton University"""
7322,reviewer,2,3,Zhang,Haimo,NaN,zh.hammer@gmail.com,Augmented Human Lab,"""Singapore University of Technology and Design"""
5023,committee,16,17,Zhao,Shengdong,NaN,zhaosd@comp.nus.edu.sg,NUS-HCI Lab,"""National University of Singapore"""

In [4]:
reviewers.query('review_submitted < review_assigned').count()

role                46
review_submitted    46
review_assigned     46
family_name         46
given_name          46
middle_initial       4
email               46
dep1                24
ins1                46
dtype: int64

In [5]:
reviewers.query('review_submitted < review_assigned').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
role,,,,,,,,
committee,24,24,24,24,1,24,12,24
reviewer,22,22,22,22,3,22,12,22

In [6]:
reviewers.query('review_submitted < review_assigned').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1
ins1,,,,,,,,
"""""",8,8,8,8,8,0,8,2
"""Al-Balqa Applied University""",1,1,1,1,1,0,1,1
"""Arizona State University""",1,1,1,1,1,0,1,0
"""Auburn University""",1,1,1,1,1,0,1,1
"""Autodesk""",1,1,1,1,1,0,1,1
"""Dalhousie University""",1,1,1,1,1,0,1,1
"""Drexel University""",2,2,2,2,2,0,2,1
"""Facebook",1,1,1,1,1,0,1,0
"""Georgia Institute of Technolgy""",1,1,1,1,1,1,1,0
"""Georgia Tech""",1,1,1,1,1,0,1,1
"""Hasso Plattner Institute""",1,1,1,1,1,0,1,0
"""IBM T.J. Watson Research Center""",1,1,1,1,1,0,1,0
"""Indiana University""",1,1,1,1,1,0,1,1
"""Inria""",2,2,2,2,2,0,2,0
"""Interdisciplinary Center (IDC) Herzliya""",1,1,1,1,1,1,1,0
"""KAIST""",1,1,1,1,1,0,1,0
"""Microsoft Research""",1,1,1,1,1,0,1,0
"""National University of Singapore""",1,1,1,1,1,0,1,1
"""Northeastern University""",1,1,1,1,1,0,1,1
"""Northumbria University""",1,1,1,1,1,0,1,1
"""Princeton University""",1,1,1,1,1,1,1,1
"""Saarland Informatics Campus""",1,1,1,1,1,0,1,1
"""Singapore University of Technology and Design""",1,1,1,1,1,0,1,1
"""The University of Nottingham""",1,1,1,1,1,0,1,1
"""University College London""",1,1,1,1,1,0,1,1
"""University of Bonn""",1,1,1,1,1,0,1,1
"""University of California",2,2,2,2,2,1,2,1
"""University of Gothenburg""",1,1,1,1,1,0,1,1
"""University of Illinois at Urbana-Champaign""",1,1,1,1,1,0,1,1
"""University of Illinois""",1,1,1,1,1,0,1,1
"""University of North Carolina at Charlotte""",1,1,1,1,1,0,1,0
"""University of Rochester""",1,1,1,1,1,0,1,1
"""University of Saskatchewan""",1,1,1,1,1,0,1,0
"""University of Toronto""",1,1,1,1,1,0,1,1
"""University of Washington""",1,1,1,1,1,0,1,0
"""Yahoo""",1,1,1,1,1,0,1,0

# How many reviewers did not submit at all?

In [35]:
reviewers.query('review_submitted == 0 & review_assigned > 0')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
ID,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,"""Al-Balqa Applied University"""
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,""""""
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,"""Facebook"
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,"""University of Gothenburg"""
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,""""""
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,"""University of Toronto"""
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,"""Microsoft Research"""
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,"""Northumbria University"""
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,""""""
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,""""""
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,""""""
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,""""""
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,"""Georgia Institute of Technolgy"""
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design","""Northeastern University"""
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,"""Yahoo"""
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,""""""
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,"""Auburn University"""
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,"""Princeton University"""

In [36]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
role,,,,,,,,
committee,2,2,2,2,0,2,1,2
reviewer,16,16,16,16,2,16,7,16

In [37]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1
ins1,,,,,,,,
"""""",7,7,7,7,7,0,7,1
"""Al-Balqa Applied University""",1,1,1,1,1,0,1,1
"""Auburn University""",1,1,1,1,1,0,1,1
"""Facebook",1,1,1,1,1,0,1,0
"""Georgia Institute of Technolgy""",1,1,1,1,1,1,1,0
"""Microsoft Research""",1,1,1,1,1,0,1,0
"""Northeastern University""",1,1,1,1,1,0,1,1
"""Northumbria University""",1,1,1,1,1,0,1,1
"""Princeton University""",1,1,1,1,1,1,1,1
"""University of Gothenburg""",1,1,1,1,1,0,1,1
"""University of Toronto""",1,1,1,1,1,0,1,1
"""Yahoo""",1,1,1,1,1,0,1,0

In [38]:
reviewers.query('review_submitted == 0 & review_assigned > 0').groupby('ins1')['role'].count()

ins1
 ""                                  7
 "Al-Balqa Applied University"       1
 "Auburn University"                 1
 "Facebook                           1
 "Georgia Institute of Technolgy"    1
 "Microsoft Research"                1
 "Northeastern University"           1
 "Northumbria University"            1
 "Princeton University"              1
 "University of Gothenburg"          1
 "University of Toronto"             1
 "Yahoo"                             1
Name: role, dtype: int64

In [39]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "reviewer"')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
ID,,,,,,,,,
7571,reviewer,0,1,Al-Jarrah,Ahmad,NaN,jarrah@nmsu.edu,Applied Science Department,"""Al-Balqa Applied University"""
9226,reviewer,0,2,Astell,Arlene,NaN,aja3@st-and.ac.uk,NaN,""""""
8155,reviewer,0,1,Bakshy,Eytan,NaN,ebakshy@fb.com,NaN,"""Facebook"
8210,reviewer,0,1,BjÃ¶rk,Staffan,NaN,staffan.bjork@ait.gu.se,University of Gothenburg,"""University of Gothenburg"""
10351,reviewer,0,1,Casale,Michael,NaN,mbcasale@gmail.com,NaN,""""""
10345,reviewer,0,1,Chignell,Mark,NaN,chignel@mie.utoronto.ca,Mechanical & Industrial Engineering,"""University of Toronto"""
9788,reviewer,0,1,Dykes,Thomas,NaN,thomas.dykes@northumbria.ac.uk,School of Design,"""Northumbria University"""
8889,reviewer,0,1,Kristensson,Per Ola,NaN,kristensson@acm.org,NaN,""""""
9081,reviewer,0,1,Litvinenko,Anna,NaN,anna.litvinenko@fu-berlin.de,NaN,""""""
9580,reviewer,0,1,Livari,Netta,NaN,netta.iivari@oulu.fi,NaN,""""""
9730,reviewer,0,1,Lomas,Derek,NaN,jlomas@cs.cmu.edu,NaN,""""""
8076,reviewer,0,1,Morrison,Briana,Baker,bmorrison@gatech.edu,NaN,"""Georgia Institute of Technolgy"""
9481,reviewer,0,1,Pearce,Celia,NaN,c.pearce@neu.edu,"College of Arts, Media and Design","""Northeastern University"""
7638,reviewer,0,1,Peesapati,S. Tejas,NaN,tejasp@yahoo-inc.com,NaN,"""Yahoo"""
10078,reviewer,0,1,Thomas,Jakita,NaN,jnt0020@auburn.edu,Computer Science & Software Engineering,"""Auburn University"""
10148,reviewer,0,1,Wolf,KatieAnna,E.,kewolf@princeton.edu,Computer Science Department,"""Princeton University"""

In [40]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "committee"')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
ID,,,,,,,,,
8678,committee,0,15,Drucker,Steven,NaN,sdrucker@microsoft.com,NaN,"""Microsoft Research"""
5001,committee,0,1,test,ac,NaN,ac-test@mspace.fm,wonderful ac place,""""""

In [41]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "reviewer"').groupby('review_assigned')['role'].count()

review_assigned
1    15
2     1
Name: role, dtype: int64

In [42]:
reviewers.query('review_submitted == 0 & review_assigned > 0 & role == "committee"').groupby('review_assigned')['role'].count()

review_assigned
1     1
15    1
Name: role, dtype: int64

In [44]:
reviewers.query('review_assigned == 0')

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
ID,,,,,,,,,,
5619,reviewer,0,0,-,Vinayak,NaN,vinayak@tamu.edu,Department of Mechanical Engineering,"""Texas A&M University""","""United States"""
7325,reviewer,0,0,A.B.M. Alim Al,Islam,NaN,razi_bd@yahoo.com,Department of Computer Science and Engineering,"""Bangladesh University of Engineering and Tec...","""Bangladesh"""
9883,reviewer,0,0,Abdelnasser,Heba,NaN,heba.abdelnasser@alexu.edu.eg,"""""","""""",""""""
7482,reviewer,0,0,Abdollahi,Hojjat,NaN,hojjat.abdollahi@gmail.com,ECE,"""University of Denver""","""United States"""
5906,reviewer,0,0,Abdul-Rahman,Alfie,NaN,alfie.abdulrahman@gmail.com,Oxford e-Research Centre,"""University of Oxford""","""United Kingdom"""
5377,reviewer,0,0,Abdulhamid,Najeeb,Gambo,najeebgambo.abdulhamid2@brunel.ac.uk,Computer Science,"""Brunel University London""","""United Kingdom"""
6237,reviewer,0,0,ABOU AMSHA,Khuloud,NaN,khuloud.abou_amsha@utt.fr,Tech-cico,"""Institut Charles Delaunay""","""France"""
8736,reviewer,0,0,Abouzied,Azza,NaN,azza@nyu.edu,New York University - Abu Dhabi,"""Abu Dhabi""","""United Arab Emirates"""
8316,reviewer,0,0,Abouzied,Azza,NaN,azza@berkeley.edu,NaN,"""""",""""""
8663,reviewer,0,0,Abraham,Joanna,NaN,abrahamj@uic.edu,Biomedical and Health Information Sciences,"""University of Illinois""","""USA"""
9950,reviewer,0,0,Abraham,Hillary,NaN,habraham@mit.edu,AgeLab,"""Massachusetts Institute of Technology""","""United States"""
9756,reviewer,0,0,Abtahi,Parastoo,NaN,parastoo@stanford.edu,Computer Science,"""Stanford University""","""United States"""
7538,reviewer,0,0,Abu-Salma,Ruba,NaN,ruba.abu-salma.13@ucl.ac.uk,Dept. of Computer Science,"""University College London (UCL)""","""United Kingdom"""
5384,reviewer,0,0,Abujelala,Maher,NaN,maher.abujelala@mavs.uta.edu,Department of Computer Science and Engineering,"""University of Texas at Arlington""","""United States"""
9797,reviewer,0,0,Acar,Yasemin,NaN,acar@usecap.uni-hannover.de,NaN,"""""",""""""
10239,reviewer,0,0,Acar,Yasemin,NaN,acar@sec.uni-hannover.de,NaN,"""Leibniz University Hannover""","""Germany"""
8215,reviewer,0,0,Acquisti,Alessandro,NaN,acquisti@andrew.cmu.edu,NaN,"""Carnegie Mellon University""","""United States"""
6643,reviewer,0,0,Adamczyk,Piotr,D,pdadamczyk@gmail.com,NaN,"""""",""""""
8900,reviewer,0,0,Adams,Phil,NaN,philadams.net@gmail.com,NaN,"""Google","""California"""
9300,reviewer,0,0,Adams,Marc,A,marc.adams@asu.edu,School of Nutrition and Health Promotion,"""Arizona State University""","""USA"""
7606,reviewer,0,0,Adjerid,Idris,NaN,iadjerid@nd.edu,Mendoza College of Business,"""University of Notre Dame""","""United States"""
8260,reviewer,0,0,Adnan,Muhammad,NaN,m.adnan1@hotmail.com,School of Computing,"""University of Leeds""","""UK"""
8543,reviewer,0,0,Afonso,Ana,Paula,apafonso@fc.ul.pt,NaN,"""Faculdade de CiÃªncias",""""""
5810,reviewer,0,0,Agarwal,Mohit,NaN,me.agmohit@gmail.com,Electrical and Computer Engineering,"""Georgia Institute of Technology""","""United States"""
5532,reviewer,0,0,Agrawal,Mehul,NaN,agrawal.mehul92@gmail.com,Department of Design,"""Indian Institute of Technology""","""India"""
7983,reviewer,0,0,Agrawala,Maneesh,NaN,maneesh@cs.berkeley.edu,NaN,"""University of California","""California"""
7775,reviewer,0,0,Agu,Emmanuel,NaN,emmanuel@cs.wpi.edu,Computer Science Department,"""Worcester Polytechnic Institute""","""USA"""
6437,reviewer,0,0,Aguilar,Lourdes,NaN,lourdes.aguilar@uab.cat,Departamento de FilologÃ­a EspaÃ±ola,"""Universitat AutÃ²noma de Barcelona""","""Spain"""
6248,reviewer,0,0,Ahlbrand,Benjamin,Michael,bmahlbrand@gmail.com,Computer Science,"""Purdue University""","""United States"""
5973,reviewer,0,0,Ahlers,Dirk,NaN,ahlers@dhere.de,NaN,"""Unitec - Universidad TecnolÃ³gica Centroamer...","""Honduras"""
...,...,...,...,...,...,...,...,...,...,...
6984,reviewer,0,0,Zhang,Ben,NaN,benzh@eecs.berkeley.edu,EECS,"""UC Berkeley""","""United States"""
6283,reviewer,0,0,Zhang,Jingyu,NaN,zhangjingyu@psych.ac.cn,Human factor lab,"""Institute of Psychology",""""""
6732,reviewer,0,0,Zhang,Xinyi,NaN,xyzhang@cs.ucsb.edu,"Computer Science, SAND Lab","""University of California","""California"""
6012,reviewer,0,0,Zhang,Yunbo,NaN,will.yunbo.zhang@gmail.com,School of Mechanical Engineering,"""Purdue University""","""United States"""
7632,reviewer,0,0,Zhang,Mi,Zhang,mizhang@egr.msu.edu,Department of Electrical and Computer Engineering,"""Michigan State University""","""United States"""
6587,reviewer,0,0,ZHANG,LEKAI,NaN,zlkzhang@zju.edu.cn,COMPUTER SCIENCE AND TECHNOLOGY,"""ZHEJIANG UNIVERSITY""","""CHINA"""
7395,reviewer,0,0,Zhao,Ben,Y,ravenben@cs.uchicago.edu,Computer Science,"""University of Chicago""","""USA"""
6675,reviewer,0,0,Zhao,Siyan,NaN,siyanz@andrew.cmu.edu,Human-Computer Interaction Institute,"""Carnegie Mellon University""","""United States"""
5624,reviewer,0,0,zhao,Keran,zhao,kzhao23@uic.edu,University of Illinois at Chicago,"""School of Business Administration""","""United States"""
6997,reviewer,0,0,Zhao,Nan,NaN,nanzhao@mit.edu,NaN,"""Massachusetts Institute of Technology""","""United States"""
5787,reviewer,0,0,Zheng,Clement,NaN,clement.zheng@gmail.com,ATLAS Institute,"""University of Colorado","""Colorado"""
5320,reviewer,0,0,Zheng,Jingjie,NaN,j49zheng@uwaterloo.ca,Cheriton School of Computer Science,"""University of Waterloo""","""Canada"""
6562,reviewer,0,0,Zheng,Wei-Long,NaN,weilonglive@gmail.com,Department of Computer Science and Engineering,"""Shanghai Jiao Tong University""","""China"""
6804,reviewer,0,0,Zhi,Qiyu,Zhi,qzhi@nd.edu,Computer Science and Engineering,"""University of Notre Dame""","""United States"""
9582,reviewer,0,0,Zhou,Xiaolei,NaN,zhouxiaolei@cueb.edu.cn,NaN,"""""",""""""
5566,reviewer,0,0,Zhou,Yuliang,Zhou,yuliangzhou7@gmail.com,Department of Electrical and Computer Engineering,"""University of Auckland""","""New Zealand"""
6109,reviewer,0,0,Zhou,Zimu,NaN,zhouzimu.hk@gmail.com,Computer Engineering and Networks Laboratory,"""ETH Zurich""","""Switzerland"""
6131,reviewer,0,0,Zhou,Sharon,NaN,sharon.waxseal@gmail.com,Computer Science,"""Stanford University""","""United States"""
7274,reviewer,0,0,Zhu,Suwen,NaN,suwzhu@cs.stonybrook.edu,Stony Brook University,"""Stony Brook University""","""United States"""
7390,reviewer,0,0,Zhuang,Yan,NaN,yanzhuan@buffalo.edu,CSE department,"""Univerisyt at Buffalo""","""USA"""
7497,reviewer,0,0,Zia,Leila,NaN,leila@wikimedia.org,NaN,"""Wikimedia Foundation""",""""""
9131,reviewer,0,0,Ziat,Mounia,NaN,mziat@nmu.edu,Psychology,"""Northern Michigan University""","""United States"""
6735,reviewer,0,0,Ziesemer,Angelina,NaN,angelina.ziesemer@acad.pucrs.br,PUCRS,"""FACIN""","""Brazil"""
6126,reviewer,0,0,Zietz,Jason,NaN,jason.zietz@colorado.edu,Computer Science,"""University of Colorado Boulder""","""United States"""
8150,reviewer,0,0,Zimmermann,Gottfried,NaN,gzimmermann@acm.org,NaN,"""""",""""""
8102,reviewer,0,0,Zohar,Aviv,NaN,avivz@cs.huji.ac.il,NaN,"""""",""""""
6798,reviewer,0,0,Zolyomi,Annuska,NaN,annuska@uw.edu,Information School,"""University of Washington""","""United States"""
5659,reviewer,0,0,Zoss,Angela,NaN,amzoss@indiana.edu,NaN,"""Duke University""","""United States"""
6548,reviewer,0,0,Zou,Yongpan,NaN,yzouad@cse.ust.hk,Congputer Science and Engineering,"""Hong Kong University of Science and Technology""","""China"""
9946,reviewer,0,0,Zuk,Torre,NaN,tdzuk@ucalgary.ca,NaN,"""""",""""""

In [45]:
reviewers.query('review_assigned == 0').groupby('country1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1
country1,,,,,,,,,
"""""",368,368,368,368,368,52,368,73,368
"""02139""",1,1,1,1,1,0,1,0,1
"""94301""",1,1,1,1,1,0,1,1,1
"""Australia""",36,36,36,36,36,11,36,29,36
"""Austria""",25,25,25,25,25,0,25,16,25
"""Bangladesh""",2,2,2,2,2,0,2,2,2
"""Beijing""",1,1,1,1,1,0,1,1,1
"""Belgium""",12,12,12,12,12,2,12,10,12
"""Brazil""",12,12,12,12,12,4,12,8,12
"""Bulgaria""",1,1,1,1,1,1,1,0,1
"""CA""",15,15,15,15,15,5,15,10,15
"""CHENNAI""",1,1,1,1,1,1,1,1,1
"""CHINA""",1,1,1,1,1,0,1,1,1
"""CO""",1,1,1,1,1,0,1,1,1
"""California""",37,37,37,37,37,8,37,17,37
"""Canada""",96,96,96,96,96,17,96,73,96
"""Canda""",1,1,1,1,1,1,1,1,1
"""Chile""",1,1,1,1,1,1,1,1,1
"""China""",40,40,40,40,40,0,40,36,40
"""Colorado""",2,2,2,2,2,0,2,2,2
"""Cyprus""",2,2,2,2,2,0,2,1,2
"""Czech Republic""",3,3,3,3,3,0,3,2,3
"""Danmark""",1,1,1,1,1,0,1,1,1
"""Denmark""",34,34,34,34,34,7,34,24,34
"""Deutschland""",1,1,1,1,1,0,1,0,1
"""Egypt""",2,2,2,2,2,1,2,2,2
"""England""",5,5,5,5,5,1,5,4,5
"""Estonia""",1,1,1,1,1,0,1,0,1
"""FRANCE""",3,3,3,3,3,0,3,3,3
"""Finland""",38,38,38,38,38,6,38,29,38
...,...,...,...,...,...,...,...,...,...
"""Stockholm""",2,2,2,2,2,0,2,1,2
"""Sweden""",44,44,44,44,44,5,44,30,44
"""Switzerland""",29,29,29,29,29,4,29,18,29
"""TN""",1,1,1,1,1,0,1,0,1
"""Taiwan",1,1,1,1,1,0,1,1,1
"""Taiwan""",9,9,9,9,9,0,9,8,9
"""Thailand""",4,4,4,4,4,0,4,2,4
"""The Netherlands""",18,18,18,18,18,5,18,12,18
"""Tokyo""",2,2,2,2,2,1,2,2,2
"""Trinidad and Tobago""",1,1,1,1,1,0,1,1,1
"""Turkey""",6,6,6,6,6,0,6,6,6
"""U.S.A.""",3,3,3,3,3,1,3,3,3
"""UK""",18,18,18,18,18,2,18,15,18
"""US""",13,13,13,13,13,1,13,13,13
"""USA """,1,1,1,1,1,1,1,1,1
"""USA""",129,129,129,129,129,27,129,104,129
"""United Arab Emirates""",1,1,1,1,1,0,1,1,1
"""United Kingdom""",178,178,178,178,178,48,178,139,178
"""United States """,1,1,1,1,1,0,1,1,1
"""United States of America""",8,8,8,8,8,1,8,5,8
"""United States""",557,557,557,557,557,122,557,399,557
"""Wales; UK""",1,1,1,1,1,0,1,1,1
"""Wisconsin""",1,1,1,1,1,0,1,0,1
"""Zhejiang""",1,1,1,1,1,0,1,1,1
"""the Netherlands""",1,1,1,1,1,0,1,1,1
"""usa""",1,1,1,1,1,0,1,1,1
Inria,1,1,1,1,1,0,1,0,1
"Kanagawa""",1,1,1,1,1,0,1,1,1
"UniversitÃ© Paris-Saclay""",4,4,4,4,4,0,4,3,4
", United Kingdom""",1,1,1,1,1,1,1,1,1

In [46]:
reviewers.query('review_assigned == 0').groupby('role').count()

,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,ins1,country1
role,,,,,,,,,
committee,28,28,28,28,4,28,16,28,28
reviewer,2267,2267,2267,2267,386,2267,1492,2267,2267

In [47]:
reviewers.query('review_assigned == 0').groupby('ins1').count()

,role,review_submitted,review_assigned,family_name,given_name,middle_initial,email,dep1,country1
ins1,,,,,,,,,
"""""",336,336,336,336,336,46,336,60,336
"""-""",1,1,1,1,1,0,1,1,1
"""-University of Nottingham""",1,1,1,1,1,0,1,1,1
"""1x1 Design""",1,1,1,1,1,0,1,0,1
"""2-2-2 Hikaridai Keihanna Science City""",1,1,1,1,1,0,1,1,1
"""AIT - Austrian Institute of Technology GmbH""",1,1,1,1,1,0,1,0,1
"""AT&T Labs Research""",1,1,1,1,1,0,1,0,1
"""Aalborg Uniiversity Copenhagen""",1,1,1,1,1,0,1,1,1
"""Aalborg University Copenhagen""",1,1,1,1,1,1,1,1,1
"""Aalborg University""",7,7,7,7,7,1,7,5,7
"""Aalto University School of Science""",1,1,1,1,1,0,1,0,1
"""Aalto University""",6,6,6,6,6,1,6,5,6
"""Aarhus University""",5,5,5,5,5,0,5,5,5
"""Abilene Christian University""",1,1,1,1,1,0,1,1,1
"""Abu Dhabi""",1,1,1,1,1,0,1,1,1
"""Addimation",1,1,1,1,1,0,1,0,1
"""Adobe """,1,1,1,1,1,0,1,1,1
"""Advanced Telecommunications Research Institute International (ATR)""",1,1,1,1,1,0,1,1,1
"""Aegean University""",1,1,1,1,1,0,1,1,1
"""Albert-Ludwigs-University""",1,1,1,1,1,1,1,1,1
"""Allegheny College""",1,1,1,1,1,1,1,1,1
"""Alpen-Adria-UniversitÃ¤t Klagenfurt""",1,1,1,1,1,0,1,1,1
"""Alphabet""",1,1,1,1,1,0,1,1,1
"""Amsterdam University of Applied Sciences""",2,2,2,2,2,0,2,2,2
"""Anglo-American University of Prague""",1,1,1,1,1,0,1,0,1
"""Apple""",2,2,2,2,2,0,2,1,2
"""Arizona State University""",4,4,4,4,4,2,4,4,4
"""Artanim Foundation""",1,1,1,1,1,0,1,0,1
"""Aston University""",1,1,1,1,1,0,1,1,1
"""BBC Research and Development""",1,1,1,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...
"""Vienna University of Technology""",4,4,4,4,4,0,4,2,4
"""Virginia Polytechnic Institute and State University""",1,1,1,1,1,0,1,0,1
"""Virginia Tech""",7,7,7,7,7,2,7,5,7
"""Visual Perspectives Consulting""",1,1,1,1,1,0,1,0,1
"""Warwick University""",1,1,1,1,1,1,1,1,1
"""Waseda University""",1,1,1,1,1,0,1,0,1
"""Watson Health""",1,1,1,1,1,0,1,1,1
"""Wellesley College""",3,3,3,3,3,0,3,3,3
"""Wentworth Institute of Technology""",1,1,1,1,1,0,1,1,1
"""Western Washington University""",1,1,1,1,1,0,1,1,1
"""Wikimedia Foundation""",1,1,1,1,1,0,1,0,1
"""Williams College""",1,1,1,1,1,1,1,1,1
"""Worcester Polytechnic Institute""",1,1,1,1,1,0,1,1,1
"""Wuhan University""",1,1,1,1,1,0,1,1,1
"""Yahoo",1,1,1,1,1,0,1,0,1
"""Yahoo Labs""",3,3,3,3,3,1,3,0,3
"""Yahoo""",3,3,3,3,3,0,3,0,3
"""Yonsei university""",1,1,1,1,1,0,1,1,1
"""York University""",3,3,3,3,3,1,3,2,3
"""ZHEJIANG UNIVERSITY""",1,1,1,1,1,0,1,1,1
"""Zhejiang University of Technology""",1,1,1,1,1,0,1,0,1
"""carnegie mellon university""",1,1,1,1,1,0,1,1,1
"""e-Media Lab",1,1,1,1,1,0,1,0,1
"""foundry10""",1,1,1,1,1,1,1,1,1
"""intel""",1,1,1,1,1,0,1,0,1
"""mobile.de GmbH / eBay Inc.""",1,1,1,1,1,0,1,0,1
"""oDesk Research & Harvard University""",1,1,1,1,1,1,1,0,1
"""the Hong Kong University of Science and Technology""",1,1,1,1,1,0,1,1,1
"""the University of Washington""",1,1,1,1,1,0,1,1,1
"""the open university""",1,1,1,1,1,0,1,1,1